<h2><%= t(:'adva.photos.common.edit_set') %></h2>

<% content_for :sidebar do -%>
	<h3><%= t(:'adva.titles.actions') %></h3>
	<ul>
	  <li><%= link_to t(:'adva.photos.admin.sets.create'), new_admin_set_path(@site, @section) %></li>
	  <li><%= link_to t(:'adva.photos.admin.sets.delete'), admin_set_path(@site, @section, @set), { :confirm => t(:'adva.photos.admin.sets.delete_confirmation'), :method => :delete } %></li>
	</ul>
<% end -%>

<% form_for :set, @set, :url => admin_set_path(@site, @section, @set), :html => {:method => :put} do |f| %>
	<% f.field_set do %>
    <% column do %>
      <%= f.text_field :title, :label => true %>
    <% end %>

    <% column do %>
      <%= f.text_field :permalink, :label => true %>
    <% end %>
  <% end %>

  <% save_or_cancel_links(f, :cancel_url => admin_sets_path(@site, @section)) %>
<% end %>