<tr id="<%= dom_id plugin %>" class="<%= cycle("odd","even") %>">
  <td>
    <%= link_to plugin.name, admin_plugin_path(@site, plugin) %>
  </td>
  <td>
    <%= plugin.about['version'] %>
  </td>
  <td>
    <%= plugin.about['author'] %>
  </td>
  <td>
    <%= plugin.about['homepage'] %>
  </td>
  <td>
    <%= plugin.configurable? ? t(:'adva.common.yes') : '' %>
  </td>
</tr>