<h2><%= collection_title(@category, @tags) %></h2>

<% if @events.size > 0 -%>

  <table id="events" class="list">
    <thead>
      <tr>
        <th scope="col"><%= t(:'adva.calendar.titles.title') %></th>
        <th scope="col"><%= t(:'adva.calendar.titles.location') %></th>
        <th scope="col"><%= t(:'adva.calendar.titles.starting_at') %></th>
        <th scope="col"><%= t(:'adva.calendar.titles.ending_at') %></th>
      </tr>
    </thead>
    <tbody id="events-body">
      <% @events.each do |event| %>
        <tr id="<%= dom_id event %>">
          <td><%= link_to_event event %></td>
          <td><%= datetime_with_microformat(event.startdate, :format => :long) %></td>
          <td><%= datetime_with_microformat(event.enddate, :format => :long) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @events, :id => 'pagination' %>
  
<% else %>

  <div class="empty">
    There are no events in <%= @section.title %>.
  </div>

<% end %>

<%= render :partial => 'footer' %>
