<% content_for :filter do %>
  <% form_tag admin_articles_path, :method => 'get', :id => 'article-search' do -%>
    <label for="search" class="inline">
      <%=t :'adva.blog.titles.show_articles' %>
    </label>
    <select name="filter" id="filterlist">
      <%= options_for_select [[ t(:'adva.blog.options.filter.category'),  'category'],
                              [ t(:'adva.blog.options.filter.tags'),      'tags'],
                              [ t(:'adva.blog.options.filter.title'),     'title'],
                              [ t(:'adva.blog.options.filter.body'),      'body'],
                              [ t(:'adva.blog.options.filter.draft'),     'draft']], params[:filter] %>
    </select>
    <select name="category" id="categories">
      <option value="0">&mdash; All Categories &mdash;</option>
      <%= options_from_collection_for_select @section.categories, :id, :title, params[:category].to_i %>      
    </select>
    <%= text_field_tag 'query', params[:query], :id => 'query', :style => 'display: none' %>
    <input type="submit" id="button" value="Go" style="display: none" />
  <% end -%>
<% end -%>

<% content_for :sidebar do -%>
  <h3><%=t :'adva.blog.titles.manage'  %></h3>
  <ul>
    <li><%= link_to t(:'adva.blog.links.articles'), admin_articles_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.blog.links.categories'), admin_categories_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.blog.links.settings'), edit_admin_section_path(@site, @section) %></li>
  </ul>

  <h3><%=t :'adva.blog.titles.actions' %></h3>
  <ul>
    <li><%= link_to t(:'adva.blog.links.create_article'), new_admin_article_path(@site) %></li>
  </ul>
<% end -%>

<% unless @articles.empty? -%>

  <p class="total">
    <%=t :'adva.articles.total_with_count', :count => @articles.total_entries %>
  </p>

  <table id="articles" class="list">
    <thead>
      <tr>
        <th scope="col"><%=t :'adva.blog.tabs.article' %></th>
        <th scope="col"><%=t :'adva.blog.tabs.comments' %></th>
        <th scope="col"><%=t :'adva.blog.tabs.published' %></th>
        <th scope="col"><%=t :'adva.blog.tabs.author' %></th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'article', :collection => @articles %>
    </tbody>
  </table>

  <%= will_paginate @articles, :id => 'pagination' %>

<% else %>

  <div class="empty">
    <% unless params[:filter] %>
      <%=t :'adva.blog.no_articles', :section => @section.title %>
      <%= link_to t( :'adva.blog.links.create_article_now' ), new_admin_article_path(@site) %>
    <% else %>
      <%=t :'adva.blog.no_filtered_articles', :section => @section.title %>
    <% end %>
  </div>

<% end %>
