<tr id="event_<%= event.id %>">
  <td><%= link_to event.title, edit_admin_calendar_event_path(@site, @section, event) %></td>
  <td><%= event.location ? event.location.title : t(:'adva.calendar.no_location') %></td>
  <td><%= event.start_date %></td>
  <td><%= event.end_date ? event.end_date : t(:'adva.calendar.open_end') %></td>
  <td><%= link_to event.user.name, admin_site_user_path(@site, event.user) %></td>
  <td><%= link_to t(:'adva.resources.edit'), edit_admin_calendar_event_path(@site, @section, event), :class => 'edit' %>
    <%= link_to t(:'adva.resources.delete'), admin_calendar_event_path(@site, @section, event), :class => 'delete', :confirm => t(:"adva.calendar.confirm_delete"), :method => :delete %>
    <%= link_to t(:'adva.resources.view'), calendar_event_path(@section.id, event.permalink), :class => 'view' %></td>  
</tr>