<tr id="event_<%= event.id %>">
  <td><%= link_to event.title, edit_admin_calendar_event_path(@site, @section, event) %></td>
  <td><%= datetime_with_microformat(event.start_date, :format => (event.all_day? ? :mdy : :long)) %></td>
  <td><%= event.end_date ? datetime_with_microformat(event.end_date, :format => (event.all_day? ? :mdy : :long)) : t(:'adva.calendar.open_end') %></td>
  <td><%= link_to event.user.name, admin_site_user_path(@site, event.user) %></td>
  <td>
    <%= view_resource_link(event, admin_calendar_event_path(@site, @section, event)) %>
    <%= edit_resource_link(event, edit_admin_calendar_event_path(@site, @section, event)) %>
    <%= delete_resource_link(event, admin_calendar_event_path(@site, @section, event), :confirm => t(:'adva.calendar.confirm_delete')) %>
  </td>
</tr>