<% content_for :sidebar do -%>
	<% fields_for :calendar_event, @event do |f| -%>
		<%= render :partial => 'options', :locals => {:f => f} %>
	<% end -%>
<% end -%>

<%= calendar_date_select_includes 'silver' %>

<% f.field_set do %>
  <%= f.text_field :title, :label => :'adva.calendar.attributes.title' %>
	<%= f.text_field :host, :label => :'adva.calendar.attributes.host' %>
	<%= f.text_field :location, :label => :'adva.calendar.attributes.location' %>

	<%= f.label :start_date, t(:'adva.calendar.attributes.start_date') %>
	<%= f.calendar_date_select :start_date, :value => @event.start_date.localtime.rfc2822 %>
	
	<label>
		<%= f.check_box :all_day %> <%= t(:'adva.calendar.attributes.all_day') %>
	</label>

  <%= f.calendar_date_select :end_date, :value => (@event.end_date ? @event.end_date.localtime.rfc2822 : ''),
                                        :label => :'adva.calendar.attributes.end_date' %>

  <%= f.text_area :body, :class => "wysiwyg", :label => :'adva.calendar.attributes.body' %>
  <%= f.text_field :tag_list, :label => :'adva.calendar.attributes.tags', :hint => :'adva.common.hints.tags' %>

  <%= f.label :draft, t(:'adva.calendar.question_save_as_draft') %>
  <label class="light">
    <%= check_box_tag :draft, '1', @event.draft?, :id => 'calendar_event_draft' %> 
		<%= t(:'adva.calendar.confirm_save_as_draft') %>
  </label>

  <p style="<%= @event.draft? ? "display:none" : "" %>">
    <%= f.label :published_at, t(:'adva.calendar.publish_on_date') %>
    <%= f.datetime_select :published_at,
                          :start_year => (@event.published_at || Time.zone.now).year-1,
                          :end_year => (Time.zone.now.year + 5),
                          :order => [:month, :day, :year] %>
  </p>
<% end %>