<% content_for :sidebar do -%>
	<% fields_for :calendar_event, @event do |f| -%>
		<%= render :partial => 'options', :locals => {:f => f} %>
	<% end -%>
<% end -%>

<fieldset class="clearfix">
  <p>
    <%= form.label :title, t(:'adva.calendar.attributes.title') %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :host, t(:'adva.calendar.attributes.host') %>
    <%= form.text_field :host %>
  </p>
<%= calendar_date_select_includes 'silver' %>
  <p>
    <%= form.label :start_date, t(:'adva.calendar.attributes.start_date') %>
    <%= form.calendar_date_select :start_date, :value => @event.start_date.localtime.rfc2822 %>
    <label>
    <%= form.check_box :all_day %> <%= t(:'adva.calendar.attributes.all_day') %>
    </label>
  </p>

  <p id="end-date" <%= @event.all_day ? 'style="display:none"' : '' %>>
    <%= form.label :end_date, t(:'adva.calendar.attributes.end_date') %>
    <%= form.calendar_date_select :end_date, :value => (@event.end_date ? @event.end_date.localtime.rfc2822 : '') %>
  </p>

  <p>
    <%= form.label :body, t(:'adva.calendar.attributes.body') %>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :tag_list, t(:'adva.calendar.attributes.tags') %>
    <%= form.text_field :tag_list %>
    <span class="hint"><%= t(:'adva.common.hints.tags') %></span>  
  </p>

  <% unless @site.locations.empty? -%>
  <p>
    <%= form.label :location, t(:'adva.calendar.attributes.location') %>
    <%= form.select :location_id, @site.locations.collect{|l| [l.oneliner, l.id]}, :include_blank => t(:'adva.calendar.links.create_new_location') %>
  </p>
  <% end -%>
  <fieldset id="new_location" style="<%= @event.location_id.blank? ? "" : "display:none" %>">
  <% fields_for :location do |f_l| -%>
    <%= render :partial => 'form_location', :locals => {:form => f_l} %>
  <% end -%>
  </fieldset>

  <%= form.label :draft, t(:'adva.calendar.question_save_as_draft') %>
  <label class="light">
    <%= check_box_tag :draft, '1', @event.draft?, :id => 'calendar-event-draft' %> <%= t(:'adva.calendar.confirm_save_as_draft') %>
  </label>

  <p id="publish-date" style="<%= @event.draft? ? "display:none" : "" %>">
    <%= form.label :published_at, t(:'adva.calendar.publish_on_date') %>
    <%= form.datetime_select :published_at,
                          :start_year => (@event.published_at || Time.zone.now).year-1,
                          :end_year => (Time.zone.now.year + 5),
                          :order => [:month, :day, :year] %>
  </p>
</fieldset>