<p>
  <%= form.label :title, t(:'adva.locations.attributes.title') %>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label :country, t(:'adva.locations.attributes.country') %>
  <%= form.text_field :country %>
</p>

<p>
  <%= form.label :postcode, t(:'adva.locations.attributes.postcode') + ' / ' +  t(:'adva.locations.attributes.town') %>
  <%= form.text_field :postcode, :class => 'postcode' %>
  <%= form.text_field :town, :class => 'town' %>
</p>

<p>
  <%= form.label :address, t(:'adva.locations.attributes.address') %>
  <%= form.text_field :address %>
</p>

<p>
  <%= form.label :description, t(:'adva.locations.attributes.description') %>
  <%= form.text_area :description, :rows => 5 %>
</p>