<h3><%= t(:'adva.titles.manage') %></h3>
<ul>
  <li>
		<%= link_to t(:'adva.calendar.links.events'), admin_calendar_events_path(@site, @section), :id => 'manage_events' %>
	</li>
  <li>
		<%= link_to t(:'adva.titles.categories'), admin_categories_path(@site, @section), :id => 'manage_categories' %>
	</li>
  <li>
		<%= link_to t(:'adva.titles.settings'), edit_admin_section_path(@site, @section), :id => 'manage_settings' %>
	</li>
</ul>

<% unless @event.new_record? -%>
	<h3><%= t(:'adva.titles.actions') %></h3>
	<ul>
	  <li><%= link_to_new [@section, :calendar_event] %></li>
	  <li><%= link_to_preview :"adva.calendar.links.#{@event.draft? ? 'preview' : 'show'}", @event %></li>
	  <li><%= link_to_delete(@event) %></li>
	</ul>
<% end -%>

<% unless @categories.empty? -%>
  <h4><%= t(:'adva.calendar.titles.publish_in_categories') %></h4>
  <%= render :partial => 'categories/checkboxes', :locals => { :categories => @categories, :content => @event } %>
<% end -%>


<h4><%= t(:'adva.titles.assets') %></h4>

<%= render :partial => 'admin/assets/widget/widget', :locals => { :assets => { :latest => @site.assets.recent, :attached => @event.assets, :bucket => bucket_assets } } %>

<h4><%= t(:'adva.titles.optional_settings') %></h4>

<%= f.label :user_id %>
<%= f.select :user_id, author_options(@site.users), :selected => author_selected(@article) %>

<%= f.label :filter %>
<%= f.select :filter, filter_options, {}, :class => 'columnsFilter' %>

<%= f.label :permalink %>
<%= f.text_field :permalink %>


