<h2><%= t(:'adva.titles.general_settings') %></h2>
<% f.field_set do %>
  <% column do %>
    <%= f.text_field :name, :label => :'adva.sites.label.name' %>
  	<%= f.text_field :title, :label => :'adva.sites.label.title' %>
  	<%= f.text_field :email, :label => :'adva.sites.label.admin_email', :value => site.email %>
  <% end %>

  <% column do %>
    <%= f.text_field :host, :tabindex => :site_name, :label => :'adva.sites.label.host', :value => site.host %>
  	<%= f.text_field :subtitle, :tabindex => :site_title, :label => :'adva.sites.label.subtitle' %>
    <%= f.time_zone_select :timezone, [ActiveSupport::TimeZone['UTC']],
          { :selected => site.timezone }, :tabindex => :site_email, :label => :'adva.sites.label.timezone' %>
  <% end %>
<% end %>