<% content_for :action_nav do -%>
  <ul class="sub_nav clearfix">
    <li><%= link_to content_tag(:span, 'New'), :action => "new" %></li>
  </ul>
<% end %>

<% if @sites.size > 0 %>

  <table id="sites" class="list">
    <thead>
      <tr>
        <th scope="col" width="20%"><%= t(:'adva.sites.attributes.name') %></th>
        <th scope="col"><%= t(:'adva.sites.attributes.host') %></th>
        <th scope="col" width="1%"></th>
        <th scope="col" width="1%"></th>
        <th scope="col" width="1%"></th>
      </tr>
    </thead>
    <tbody>
    <% @sites.each do |site| -%>
      <tr>
        <td><%= link_to site.name, admin_site_path(site) %></td>
        <td><%= site.host %></td>
        <td><%= link_to t(:'adva.resources.settings'), edit_admin_site_path(site), :class => 'edit' %></td>
        <td><%= link_to t(:'adva.resources.delete'), admin_site_path(site), :class => 'delete', :confirm => t(:'adva.sites.confirm_delete'), :method => :delete %></td>
        <td><%= link_to t(:'adva.resources.view'), "http://#{site.host}", :class => 'view' %></td>
      </tr>
    <% end -%>
    </tbody>
  </table>
  <%= will_paginate @sites, :id => 'pagination' %>

<% else %>  

  <div class="empty">
    <%= t(:'adva.sites.no_sites') %>
    <%= link_to "Create one now &raquo;", new_admin_site_path %>
  </div>

<% end %>
