<% content_for :action_nav do -%>
  <ul class="sub_nav clearfix">
    <li><%= link_to content_tag(:span, 'New'), :action => "new" %></li>
  </ul>
<% end %>

<% unless @sites.empty? %>
  <table>
    <thead>
      <tr>
        <th><%= t(:'adva.sites.attributes.name') %></th>
        <th><%= t(:'adva.sites.attributes.host') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @sites.each do |site| -%>
      <tr>
        <td><%= link_to site.name, admin_site_path(site) %></td>
        <td><%= site.host %></td>
        <td>
          <%= view_resource_link(site, "http://#{site.host}") %>
          <%= edit_resource_link(site, edit_admin_site_path(site), :text => t(:'adva.resources.settings')) %>
          <%= delete_resource_link(site, admin_site_path(site)) %>
        </td>
      </tr>
    <% end -%>
    </tbody>
  </table>

  <%= will_paginate @sites, :id => 'pagination' %>

<% else %>  

  <div class="empty">
    <%= t(:'adva.sites.no_sites') %>
    <%= link_to "Create one now &raquo;", new_admin_site_path %>
  </div>

<% end %>
