<h2><%= t(:'adva.sites.title.create') %></h2>

<% form_for :site, @site, :url => admin_sites_path do |f| %>
  <h2><%= t(:'adva.titles.home_section') %></h2>  

 	<% f.field_set :'home_section' do %>
    <% fields_for :section, Section.new(params[:section]) do |s| %>
			<% column do %>
	      <%= s.label :title %>
	      <%= s.text_field :title %>
      <% end %>
			<% column do %>
      	<%= s.collection_select :type, Section.types, :to_s, :to_s, {}, :label => true, :tabindex => :section_title %>
      <% end %>
    <% end %>
  <% end %>
  
  <%= render :partial => 'form', :locals => { :f => f, :site => Site.new(params[:site]) } %>
  
  <% save_or_cancel_links(f) %>
<% end %>
