<%# FIXME should be translated properly %>
<h2><%= t(:'adva.titles.history') %>: <%= @site.title %></h2>

<%= render :partial => 'admin/activities/activities', :object => @activities %>

<% content_for :sidebar do %>
	<div class="tabs">
		<div class="tab active">
		  <%= render :partial => 'recent_users', :locals => {:users => @users} %>
		  <%= render :partial => 'unapproved_comments', :locals => {:contents => @contents} %>
		</div>
	</div>
<% end %>

