<% if categories.present? %>
  <ul class="categories">
		<%= hidden_field_tag "#{content.class.name.underscore}[category_ids][]", '' %>
    <% categories.each do |category| %>
      <li class="<%= cycle '', 'highlight', :name => 'content_categories' %>">
        <%= check_box_tag "#{content.class.name.underscore}[category_ids][]", category.id, content.categories.include?(category), :id => "#{content.class.name.underscore}_category_#{category.id}" %>
        <label for="<%= content.class.name.underscore %>_category_<%= category.id %>" class="inline"><%= category.title %></label>
        <%= render :partial => 'categories/checkboxes', :locals => {:categories => category.children, :content => content} %>
      </li>
    <% end %>
  </ul>
<% end %>
