<h2><%= 'Album settings' %></h2>
<fieldset class="clearfix">
  <div class="col">
    <%= f.label :photos_per_page %>
    <%= f.text_field :photos_per_page, :class => 'short' %>
  </div>
  <div class="col">  
    <%= f.label :content_filter, 'Content filter' %>
    <span class="hint"><%= t(:'adva.sections.hints.content_filter') %></span>
    <%= f.select :content_filter, filter_options %>
  </div>
</fieldset>