<h2><%= t(:'adva.titles.templates') %></h2>
<fieldset class="clearfix">
  <div class="col">
    <p>
      <%= f.label :template, 'Template/directory' %>
      <%= f.text_field :template %>
    </p>
  </div>
  <div class="col">
    <p>
      <%= f.label :layout, 'Layout' %>
      <%= f.text_field :layout %>
    </p>
  </div>
</fieldset>
