<div id="site_spam_settings_default" class="site_spam_settings <%= 'active' if active %>">
  <p>
    <%= radio_button_tag 'site[spam_options][default][ham]', "none", site.spam_options(:default, :ham) == 'none', :id => 'site_spam_options_default_ham_none' %>
    <label class="inline light" for="site_spam_options_default_ham_none">
      <%= t(:'adva.spam.options.default_ham_none') %>
    </label>
  </p>
  <p>
    <%= radio_button_tag 'site[spam_options][default][ham]', "authenticated", site.spam_options(:default, :ham) == 'authenticated', :id => 'site_spam_options_default_ham_authenticated' %>
    <label class="inline light" for="site_spam_options_default_ham_authenticated">
      <%= t(:'adva.spam.options.default_ham_authenticated') %>
    </label>
  </p>
  <p>
    <%= radio_button_tag 'site[spam_options][default][ham]', "all", site.spam_options(:default, :ham) == 'all', :id => 'site_spam_options_default_ham_all' %>
    <label class="inline light" for="site_spam_options_default_ham_all">
      <%= t(:'adva.spam.options.default_ham_all') %>
    </label>
  </p>
</div>