<h2><%= t(:'adva.users.titles.register') %></h2>

<% form_for @user, :url => user_path, :html => {:id => 'register'} do |f| %>

  <% f.field_set :signup_fields do %>
    <%= f.text_field :first_name, :label => true %>
    <%= f.text_field :last_name, :label => true %>
    <%= f.text_field :homepage, :label => true %>
    <%= f.text_field :email, :label => true %>
    <%= f.password_field :password, :label => true %>
  <% end %>

  <% f.buttons do %>
  	<%= submit_tag t(:'adva.titles.register'), :id => "register" %> or
  	<%= link_to t(:'adva.titles.login'), login_url, :id => 'login' %>
  <% end %>
<% end %>


