<% content_for :footer do %>
  <div id="footer" class="clearing">
    <% if !@section.categories.blank? %>
      <div>
        <h4><%= t(:'adva.common.categories') %></h4>
        <ul class="categories">
        <% @section.categories.each do |category| %>
          <li><%= link_to_category @section, category %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <% if @section and !@section.tag_counts.empty? %>
      <div>
        <h4>Tags</h4>
        <ul class="tags">
        <% @section.tag_counts.each do |tag| %>
          <li><%= link_to_tag @section, tag %></li>
        <% end %>
        </ul>
      </div>
    <% end %>  
  </div>

  <%= render :partial => 'shared/footer' %>
  
  <ul id="feeds">
    <li><%= link_to t(:'adva.wiki.view._footer.link_to_entries_feed'), formatted_blog_url(@section, :format => :atom) %></li>
    <li><%= link_to t(:'adva.wiki.view._footer.link_to_comment_feed'), formatted_blog_comments_url(@section, :format => :atom) %></li>
  </ul>
<% end %>