<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :permalink %>
  <%= f.text_field :permalink %>
</p>
<p>
  <%= f.label :body %>
  <%= f.text_area :body %>
</p>

<% unless @section.categories.blank? %>
  <p>
    <label>Categories</label>
    <% @section.categories.each do |category| %>
      <%= content_category_checkbox(@wikipage, category) %>
      <label for="wikipage_category_<%= category.id %>" class="inline"><%= category.title %></label>
    <% end %>
  </p>
<% end %>

<p>
  <%= f.label :tag_list, t(:'adva.common.tag', :count => 2) %>
  <%= f.text_field :tag_list %>
  <span class="hint"><%= t(:'adva.wiki.view._form.tag_hint') %></span>  
</p>

<% unless current_user.registered? %>
  <% fields_for @wikipage.author do |author| %>
    <p>
      <%= author.label :name, t(:'adva.wiki.view._form.label_for_author_name') %>
      <%= author.text_field :name %>
    </p>
    <p>
      <%= author.label :email, t(:'adva.wiki.view._form.label_for_author_email') %>
      <%= author.text_field :email %>
    </p>
  <% end %>  
<% end %>

<p class="buttons">
  <%= f.submit "Save" %>
  <% unless @wikipage.new_record? or @wikipage.home? %>
    <%= link_to(t(:'adva.common.delete'), wikipage_path(@section, @wikipage.permalink), { :confirm => t(:'adva.wiki.view._form.confirm_delete'), :method => :delete }) %>
  	<%= link_to t(:'adva.common.cancel'), wikipage_path(@section, @wikipage.permalink) %>
  <% end %> or
</p>
