<div id="<%= dom_id @wikipage %>" class="entry clearing">
  <div class="meta">
    <p><%= link_to 'all pages', wikipages_path(@section) %></p>
    <h4><%= t(:'adva.wiki.view.show.revision_header', :version => @wikipage.version) %></h4>

    <p>
      <%= datetime_with_microformat(@wikipage.updated_at, :format => :long) %><br />
      <%= t(:'adva.wiki.view.show.author', :author => @wikipage.author_link) %>
    </p>

    <p>
      <%= links_to_content_categories(@wikipage, :'adva.common.content_categories') %>
    	<%= links_to_content_tags @wikipage, :'adva.common.content_tags' %>
    </p>
  </div>
  <div class="content">
    <h2><%= link_to_content @wikipage %></h2>
    <%= wikify @wikipage.body %>
    <p><%= wiki_edit_links(@wikipage) %></p>
  </div>
</div>

<%= render :partial => 'comments/list', :locals => {:commentable => @wikipage, :comments => @wikipage.approved_comments} %>
<% if @wikipage.accept_comments? %>
  <%= render :partial => 'comments/form', :locals => {:commentable => @wikipage} %>
<% end %>

<%= render :partial => 'footer' %>