<ul id="theme_list">
	<li class="theme<%= ' current' if theme.active? %>">
	  <h4 title="<%= theme.theme_id %>"><%= theme.name %></h4>
	  <p>
			<%= "v#{theme.version}" if theme.version.present? %>
	    <%= t(:'adva.common.by_author', :author => theme.author_link) %>
	  </p>
		<%= link_to theme_image_tag(theme.theme_id, theme.preview.base_url, :title => theme.theme_id), index_path([theme, :'theme/file']) if theme.preview %>

		<ul class="options">
	    <% if theme.active? %>
				<li><%= link_to_deactivate_theme(theme) %></li>
	    <% else %>
				<li><%= link_to_activate_theme(theme) %></li>
	    <% end %>
	    <li><%= link_to t(:'adva.themes.links.edit'), edit_admin_theme_path(@site, theme) %></li>
	    <li><%= link_to t(:'adva.themes.links.delete'), admin_theme_path(@site, theme), { :confirm => t(:'adva.themes.confirm_uninstall'), :method => :delete }  %></li>
	  </ul>
	</li>
</ul>