<% content_for :sidebar do -%>
  <h3><%= t(:'adva.titles.manage') %></h3>
  <ul>
    <li><%= link_to t(:'adva.titles.site'), edit_admin_site_path(@site) %></li>
    <li><%= link_to t(:'adva.titles.themes'), admin_themes_path(@site) %></li>
    <li><%= link_to t(:'adva.titles.cache'), admin_cached_pages_path(@site) %></li>
  </ul>

  <h3><%= t(:'adva.titles.actions') %></h3>
  <ul>
    <li><%= link_to t(:'adva.themes.links.new_theme'), new_admin_theme_path(@site) %></li>
    <li><%= link_to t(:'adva.themes.links.import_theme'), import_admin_themes_path(@site) %></li>
  </ul>
<% end -%>

<h2><%= t(:'adva.themes.titles.import') %></h2>

<% form_for :theme, @theme, :url => import_admin_themes_path(@site), :html => {:multipart => true} do |f| %>
  <% f.field_set do %>
    <%= f.file_field :file, :label => :'adva.themes.lables.zip_file' %>
  <% end %>
  
  <%= save_or_cancel_links(f, :cancel_url => admin_themes_path, :save_text => t(:'adva.common.import')) %>
<% end %>
