<% content_for :sidebar do -%>
  <h3><%= t(:'adva.titles.manage') %></h3>
  <ul>
    <li><%= link_to t(:'adva.titles.site'), edit_admin_site_path(@site), :id => 'manage_site' %></li>
    <li><%= link_to t(:'adva.titles.themes'), admin_themes_path(@site), :id => 'manage_themes' %></li>
    <li><%= link_to t(:'adva.titles.cache'), admin_cached_pages_path(@site), :id => 'manage_cache' %></li>
  </ul>

  <h3><%= t(:'adva.titles.actions') %></h3>
  <ul>
    <li><%= link_to t(:'adva.themes.links.new_theme'), new_admin_theme_path(@site) %></li>
    <li><%= link_to t(:'adva.themes.links.import_theme'), import_admin_themes_path(@site) %></li>
  </ul>
<% end -%>

<h2><%= t(:'adva.themes.titles.new') %></h2>

<% form_for :theme, @theme, :url => admin_themes_path(@site) do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	
	<%= save_or_cancel_links(f, :cancel_url => admin_themes_path) %>
<% end %>
