<% if @section.boards.empty? -%>
	<%= f.hidden_field :board_id %>
<% elsif @section.boards.size == 1 -%>
	<%= f.hidden_field :board_id, :value => @section.boards.first.id %>
<% else -%>
	<% authorized_tag :p, :moderate, @topic do -%>
      <%= f.label :board_id, @topic.new_record? ? 'Board' : 'Move to board' %>
      <%= f.select :board_id, forum_boards_select(@section) %>
	<% end -%>
<% end %>

<% fields_for User.anonymous do |author| %>
  <div id="anonymous_author">
    <p>
      <%= author.label :name, t(:'adva.labels.author_name') %>
      <%= author.text_field :name %>
    </p>
    <p> 
      <%= author.label :email, t(:'adva.labels.author_email') %>
      <%= author.text_field :email %>
    </p>
    <p> 
      <%= author.label :homepage %>
      <%= author.text_field :homepage %>
    </p>
  </div>
<% end %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'wide' %>
</p>
<% if @topic.new_record? %>
  <p>
  	<%= f.label :body %>
  	<%= f.text_area :body %>
  </p>
<% end %>

<% authorized_tag :p, :moderate, @topic do %>
  <%= f.check_box :sticky %>
  <%= f.label :sticky, t(:'adva.topics.states.sticky'), :class => 'inline' %>
  <%= f.check_box :locked %>
  <%= f.label :locked, t(:'adva.topics.states.locked'), :class => 'inline' %>
<% end %>

<p id="preview"></p>
