<div class="entry clearing" id="<%= dom_id post %>">
  <div class="meta">
    <p>
      <%= post.created_at.to_s(:long) %>
    </p>
    <p>
      <%= gravatar_img post.author %>
      <%= post.author_link %><br>
      <%#= post.author.roles.map(&:name).map(&:to_s).map(&:camelize).join(', ') %><br> <!-- TODO does not work with anonymous users -->
    </p>
  </div>
  <div class="body">
    <%= post.body_html %>
    <p class="util">
      <% authorized_tag :span, :update, post do %>
        <%= link_to_edit :'adva.links.edit', post, :url => edit_topic_post_path(@section, @topic, post, :return => true) %>
      <% end %>
			<% unless post == @topic.initial_post %>
      	<% authorized_tag :span, :destroy, post do %>
        &middot; <%= link_to_delete :'adva.links.delete', post, :url => topic_post_path(@section, @topic, post, :return => true) %>
      	<% end %>
			<% end %>
    </p>
  </div>
</div>
