<% f.field_set do %>
	<p>
	  <%= f.text_field :base_path, :label => :'adva.themes.labels.filename' %>
	</p>

	<% if @file.respond_to?(:text) %>
		<% if @file.is_a?(Theme::Stylesheet) %>
			<span class="hint" for="file_base_path"><%=t :'adva.themes.hints.cache_folder_warning_stylesheets' %></span>
		<% elsif @file.is_a?(Theme::Javascript) %>
			<span class="hint" for="file_base_path"><%=t :'adva.themes.hints.cache_folder_warning_stylesheets' %></span>
		<% end %>
		<%= f.label :data, t(:'activerecord.attributes.theme_file.data', :default => 'Data') %>
		<%= text_area_tag 'file[data]', @file.text, :id => 'file_data', :class => 'big' %>
	<% elsif @file.respond_to?(:base_url) and @file.base_url %>
	  <p><%= theme_image_tag @theme.theme_id, @file.base_url %></p>
	<% end %>

  <% save_or_cancel_links(f, :cancel_url => admin_theme_files_path(@site, @theme.id)) %>
<% end %>

<% render :partial => 'files' %>