<h2><%= t(:'adva.theme_files.titles.upload') %></h2>

<% form_tag upload_admin_theme_files_path(@site, @theme.id), { :method => :post, :multipart => true } do %>
	<fieldset>
    <p><%= t(:'adva.themes.upload_template_or_asset') %></p>
    <p><%= file_field_tag("file[data]", :id => 'file_data') %></p>
  </fieldset>

  <% buttons do %>
    <%= submit_tag t(:'adva.common.upload') %> or 
    <%= link_to t(:'adva.common.cancel'), admin_theme_path(@site, @theme.id) %>
  <% end %>
<% end %>

<% render :partial => 'files' %>