<div id="assets-widget" class="_clearing">
  <ul class="tabs">
    <li id="tab-attached-assets"><a href="#" title="<%=t :'adva.asset.tab.attached.title' %>"><%=t :'adva.asset.tab.attached.name' %></a></li>
    <li id="tab-latest-assets"><a href="#" title="<%=t :'adva.asset.tab.latest.title' %>"><%=t :'adva.asset.tab.latest.name' %></a></li>
    <li id="tab-bucket-assets"><a href="#" title="<%=t :'adva.asset.tab.bucket.title' %>"><%=t :'adva.asset.tab.bucket.name' %></a></li>
    <li id="tab-search-assets"><a href="#" title="<%=t :'adva.asset.tab.search.title' %>"><%=t :'adva.asset.tab.search.name' %></a></li>
    <li id="tab-upload-assets"><a href="#" title="<%=t :'adva.asset.tab.upload.title' %>"><%=t :'adva.asset.tab.upload.name' %></a></li>
  </ul>
  
  <% [:attached, :latest, :bucket].each do |type| %>
    <% unless assets[type].empty? -%>
    <ul id="<%= type %>-assets" class="panel asset-list">
      <%= render :partial => "admin/assets/widget/asset", :collection => assets[type], :locals => { :content => @article, :prefix => type } %>
    </ul>
    <% else -%>
    <div id="<%= type %>-assets" class="panel" style="padding: 10px;">
      Your bucket is empty.
    </div>
    <% end -%>
  <% end %>

  <div id="search-assets" class="panel">
    <label for="search-assets-query">
      Search by tag or title 
      <img id="search-assets-spinner" src="/images/adva_cms/indicator.gif" alt="spinner" style="display: none" />
    </label>
    <input type="text" size="30" name="search-assets-query" id="search-assets-query" />
    <input id="search-assets-button" type="button" value="Search" />
    <ul id="search-assets-result" class="asset-list"></ul>
  </div>
  
  <div id="upload-assets" class="panel">
    <label for="asset-uploaded-data">
      Upload an asset 
      <img class="spinner" src="/images/adva_cms/indicator.gif" alt="spinner" style="display: none" />
    </label><br />
    <%= file_field_tag "assets[0][uploaded_data]", :id => "asset-uploaded-data" %>
    <input id="upload-assets-button" type="button" value="Upload" />
    <ul id="uploaded-assets" class="asset-list"></ul>
  </div>
</div>