<li class="activity <%= activity_css_classes(activity) %> <%= cycle '', 'highlight', :name => "activities" %> clearfix">
  <p class="meta">
    <%= activity_datetime activity, recent %><br />
    <%= link_to_activity_user activity %>
  </p>
  <p><%= activity.object_attributes['type'] %> <%= activity.all_actions.to_sentence(:skip_last_comma => true) %></p>
  <%= link_to activity.title, activity_object_edit_url(activity) %>
</li>