<div>
  <%= admin_site_select_tag if Site.multi_sites_enabled %>
  <ul>
    <% if current_user %>
      <li><%= t(:'adva.users.info.logged_in_as', :name => link_to_profile(@site, :name => current_user.name)) %></li>
      <li <% unless @site %>class="last"<% end %>><%= link_to t(:'adva.links.logout'), logout_path, :method => :delete %></li>
    <% else %>
      <li>You're not logged in</li> 
      <li <% unless @site %>class="last"<% end %>><%= link_to t(:'adva.links.login'), :controller => 'session', :action => 'new' %></li>    
    <% end %>
    <% if @site %>
      <li class="last"><%= link_to t(:'adva.titles.website') + ' »', "http://#{@site.host}" %></li>
    <% end %>
  </ul>
</div>

