<% content_for :filter do %>
  <% form_tag admin_comments_path, :method => 'get', :id => 'comment_search' do -%>
    <label for="search" class="inline">
      t(:'adva.comments.filter.show_comments'):
    </label>
    <select name="filter" id="filter_list">
      <%= options_for_select comments_filter_options, params[:filter] %>
    </select>
    <select name="state" id="states">
      <%= options_for_select comments_state_options, params[:state] %>      
    </select>
  	<% if @section -%>
  	  <%= hidden_field_tag :section_id, @section.id %>
  	<% elsif @content -%>
  	  <%= hidden_field_tag :content_id, @content.id %>
      <% end -%>
  	<%= text_field_tag 'query', params[:query], :id => 'query', :style => 'display: none' %>
    <input type="submit" id="button" value="<%= t(:'adva.comments.filter.go') %>" style="display: none" />
  <% end -%>
<% end -%>

<h3><%= t(:'adva.comments.titles.comments_on', :location => link_to_admin(@content || @section || @site)) %></h3>

<ul id="comments_list">
  <% unless @comments.empty? %>
    <% @comments.reverse.each do |comment, i| %>
    <li class="<%= cycle 'alt', '' %>" id="<%= dom_id(comment) %>">
      <%= render :partial => 'comment', :object => comment %>
    </li>
    <% end %>
  <% else %>
    <li class="alt"><%= t(:'adva.comments.info.no_comments_for_query', :location => ((@content || @section) ? (@content || @section).type.downcase : 'site')) %></li>
  <% end %>
</ul>


<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[
  var comment = $(document.location.hash.substring(1));
  if(comment) Element.addClassName(comment, 'highlight');
// ]]>
</script>
