<h3><%= t(:'adva.titles.comment') %></h3>

<%= render :partial => 'comment', :object => @comment %>

<h4><%= t(:'adva.comments.titles.your_reply') %></h4>

<% form_for :comment, @reply, :url => admin_comments_path do |f| -%>
  <%= hidden_field_tag "comment_id", @comment.id %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :commentable_id %>

  <%= render :partial => 'form', :locals => {:f => f} %>  
<% end -%>