<% content_for :sidebar do %>
	<p class="hint text_only large padded">
		<%= t :'adva.sections.hints.parent_setting_for_edit' %>
	</p>
<% end %>

<h2><%= t(:'adva.titles.general_settings') %></h2>

<% f.field_set do %>
  <% column do %>
    <%= f.text_field :title, :label => true %>
    <p>
			<label for="published"><%= t(:'adva.sections.titles.publish') %></label>
			<span class="hint" for="published">
				<%= t :'adva.sections.hints.publish' %>
			</span>
      <%= f.check_box :published, :label => true %>
    </p>
  <% end %>

  <% column do %>
    <%= f.text_field :permalink, :label => true, :hint => :'adva.sections.hints.permalink' %>
  <% end %>
<% end %>

<%= render :partial => "admin/sections/settings/#{@section.type.underscore}", :locals => { :f => f } %>
<%= render :partial => "admin/sections/settings/permissions", :locals => { :f => f } %>
