<h2><%= t(:'adva.titles.general_settings') %></h2>

<% f.field_set do %>
  <% column do %>
    <%= f.text_field :title, :label => true %>
    <p>
      <%= f.check_box :published, :label => true %>
    </p>
  <% end %>

  <% column do %>
    <%= f.text_field :permalink, :label => true %>
  <% end %>
<% end %>

<%= render :partial => "admin/sections/settings/#{@section.type.underscore}", :locals => { :f => f } %>
<%= render :partial => "admin/sections/settings/permissions", :locals => { :f => f } %>
