<h2>New Section</h2>

<% form_for :section, @section, :url => admin_sections_path do |f| %>
  <fieldset class="clearfix">
    <fieldset class="col">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </fieldset>  
    <fieldset class="col">
      <%= f.label :type %>
      <% Section.types.each do |type| %>
        <%= f.radio_button :type, type %>
        <label for="section_type_<%= type.downcase %>" class="light" style="padding-right: 5px; line-height: 22px;">
          <%= type %>
        </label>
      <% end %>
    </fieldset>
  </fieldset>  
  <p class="buttons">
    <%= submit_tag 'Save' %>
  </p>  
<% end %>