<h3><%= @contact_mail.subject %></h3>
<% unless @contact_mail.email.blank? -%>
	<p>
		<%= t(:'adva.labels.email') %>
	</p>
	<p>
		<%= @contact_mail.email %>
	</p>
<% end -%>
<p>
	<%= t(:'adva.labels.body') %>
</p>
<p>
	<%= @contact_mail.body %>
</p>