<h2><%= t(:'adva.sections.titles.forum_settings') %></h2>

<% f.field_set :forum_settings do %>
  <% column do %>
		<%= f.text_field :topics_per_page, :label => true, :class => 'short' %>
		<%= f.text_field :comments_per_page, :label => true, :class => 'short' %>
	<% end %>

  <% column do %>
    <%= f.select :content_filter, filter_options, :label => 'Post content filter' %>
    <span class="hint"><%= "When forum posts are are posted, they use this as a default setting." %></span>
	<% end %>
<% end %>
