<%= render :partial => 'search' %>

<div id="events">
	<h2><%= collection_title(@category, @tags) %></h2>

	<% if @events.present? -%>
		<table>
		  <thead>
		    <tr>
		      <th><%= t(:'adva.calendar.titles.title') %></th>
		      <th><%= t(:'adva.calendar.titles.starting_at') %></th>
		      <th><%= t(:'adva.calendar.titles.ending_at') %></th>
		    </tr>
		  </thead>
		  <tbody>
		    <%= render :partial => 'event', :collection => @events %>
		  </tbody>
		</table>
		<%= will_paginate @events, :id => 'pagination' %>
	<% else -%>
		<div class="empty">
		  <%= t(:'adva.calendar.errors.no_events', :title => @section.title) %>.
		</div>
	<% end -%>
</div>

<%= render :partial => 'calendar', :locals => { :calendar_section => @section } %>
<%= render :partial => 'footer' %>