<tr id="<%= dom_id article %>">
  <td><%= link_to article.title, edit_admin_article_path(@site, @section, article), :class => article.state %></td>
  <td><%= article.accept_comments? && !article.comments.empty? ? link_to(article.comments.size, admin_comments_path) : I18n.t(:"adva.common.none") %></td>
  <td><%= published_at_formatted article %></td>
  <td><%= link_to h(article.author_name), admin_site_user_path(@site, article.author) %></td>
  <td class="actions">
    <%= link_to(I18n.t(:'adva.resource.view'), content_path(article), :class => 'view') if article.published? %>
    <%= link_to "Edit", edit_admin_article_path(@site, @section, article), :class => 'edit' %>
    <%= link_to "Delete", admin_article_path(@site, @section, article), :class => 'delete', :confirm => I18n.t(:"adva.article.confirm_delete"), :method => :delete %>
  </td>
</tr>
