<tr>
  <td>
		<%= link_to article.title, edit_admin_article_path(@site, @section, article), :class => article.state %>
	</td>
  <td>
		<%= article.accept_comments? && !article.comments.empty? ? link_to(article.comments.size, admin_comments_path) : t(:"adva.common.none") %>
	</td>
  <td>
		<%= published_at_formatted article %>
	</td>
  <td>
		<%= link_to article.author_name, admin_site_user_path(@site, article.author) %>
	</td>
  <td>
    <%= view_resource_link(article, content_path(article)) %>
    <%= edit_resource_link(article, edit_admin_article_path(@site, @section, article)) %>
    <%= delete_resource_link(article, admin_article_path(@site, @section, article)) %>
  </td>
</tr>
