<% content_for :sidebar do %>
  <% fields_for :article do |f| -%>
    <%= render :partial => 'options', :locals => { :f => f } %>
  <% end %>
<% end %>

<fieldset class="clearfix">
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'big'  %>
  <p id="excerpt" style="<%= @article.has_excerpt? ? "" : "display:none" %>">
    <label for="article_excerpt">
      <%= t(:'adva.articles.attributes.excerpt') %>
      <span class="hint inline">(<%= link_to_function t(:'adva.common.hide'), "$('excerpt').toggle()" %>)</span>
    </label>
    <%= f.text_area :excerpt, :rows => '8', :class => 'fat'  %>
  </p>
  <label for="article_body">
    Write your article
    <span class="hint inline">(<%= link_to_function t(:'adva.articles.excerpt_add'), "$('excerpt').toggle()" %>)</span>
  </label>
  <%= f.text_area :body, :class => 'fat', :rows => 25  %>

  <%= f.label :draft, t(:'adva.articles.question_save_as_draft') %>
  <label class="light">
    <%= check_box_tag :draft, '1', @article.draft?, :id => 'article-draft' %>
    <%= t(:'adva.articles.confirm_save_as_draft') %>
  </label>

  <p id="publish-date" style="<%= @article.draft? ? "display:none" : "" %>">
    <%= f.label :published_at, t(:'adva.articles.publish_on_date') %>
    <%= f.datetime_select :published_at,
                          :start_year => (@article.published_at || Time.zone.now).year-1,
                          :end_year => (Time.zone.now.year + 5),
                          :order => [:month, :day, :year] %>
  </p>
</fieldset>
