
<% f.field_set do %>
	<% column do %>
	  <%= hidden_field_tag 'cl', Article.locale %>
		
	  <%= f.text_field :title, :class => 'big', :label => true  %>

	  <p id="article_excerpt_wrapper" style="<%= @article.has_excerpt? ? "" : "display:none" %>">
	    <label for="article_excerpt">
	      <%= t(:'adva.articles.attributes.excerpt') %>
	      <span class="inline" id="hide_excerpt_hint">(<%= link_to t(:'adva.common.hide'), '#', :id => 'hide_excerpt' %>)</span>
	    </label>
	    <%= f.text_area :excerpt, :class => 'wysiwyg' %>
	  </p>

	  <label for="article_body">
	    <%= t(:'adva.articles.write_article') %>
	    <span class="inline" id="add_excerpt_hint">(<%= link_to t(:'adva.articles.excerpt_add'), '#', :id => 'add_excerpt' %>)</span>
	  </label>
	  <%= f.text_area :body, :class => 'big wysiwyg' %>

	  <%= f.label :draft, t(:'adva.articles.question_save_as_draft') %>
	  <%= f.check_box :draft?, :id => 'toggle_draft', :label => :'adva.articles.confirm_save_as_draft' %>

	  <p id="publish_date_wrapper" style="<%= @article.draft? ? "display:none" : "" %>">
	    <%= f.label :published_at, t(:'adva.articles.publish_on_date') %>
	    <%= f.datetime_select :published_at,
	                          :start_year => (@article.published_at || Time.zone.now).year-1,
	                          :end_year => (Time.zone.now.year + 5),
	                          :order => [:month, :day, :year] %>
		</p>
	<% end %>
<% end %>

<%= render :partial => 'options', :locals => { :f => f } %>
