<% content_for :sidebar do %>
  <% fields_for :article do |f| -%>
		<h3><%= t(:'adva.titles.manage') %></h3>
		<ul>
			<li><%= link_to_index([@section, :article]) %></li>
			<li><%= link_to_index([@section, :category]) %></li>
			<li><%= link_to_edit(@section) %></li>
		</ul>

		<% unless @article.new_record? -%>
			<h3><%= t(:'adva.titles.actions') %></h3>
			<ul>
				<li><%= link_to_new([@section, :article]) %></li>
				<li><%= link_to_preview(@article) %></li>
				<li><%= link_to_delete(@article) %></li>
			</ul>
		<% end %>

		<% if Rails.plugin?(:adva_assets) %>
			<h3>Assets</h3>
			<%= render :partial => 'admin/assets/widget/widget', :locals => { :assets => { :latest => @site.assets.recent, :attached => @article.assets, :bucket => bucket_assets } } %>
		<% end %>

		<h3><%= t(:'adva.titles.optional_settings') %></h3>
		<% f.field_set :optional_settings do %>
		  <%= f.select :author_id, author_options, :selected => author_preselect, :label => true %>
		  <%= f.select :filter, filter_options, {}, :class => 'columnsFilter', :label => true %>
		  <%= f.select :comment_age, comment_expiration_options, :label => :'adva.titles.comments' %>
		  <%= f.text_field :permalink, :label => true, :hint => :'adva.articles.hints.permalink' unless @section.try(:single_article_mode) %>
		  <%= f.text_field :tag_list, :label => true, :hint => :'adva.articles.hints.tags' %>
		<% end %>

		<% unless @categories.empty? %>
		  <h4><%= t(:'adva.titles.publish_in_categories') %></h4>
		  <%= render :partial => 'categories/checkboxes', :locals => { :categories => @categories, :content => @article } %>
		<% end %>
  <% end %>
<% end %>
		