<% content_for :sidebar do -%>
  <h3><%= t(:'adva.titles.manage') %></h3>
  <ul>
    <li><%= link_to t(:'adva.titles.article.other'), admin_articles_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.titles.category.other'), admin_categories_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.titles.settings'), edit_admin_section_path(@site, @section) %></li>
  </ul>

  <h3><%= t(:'adva.titles.actions') %></h3>
  <ul>
    <li><%= link_to t(:'adva.articles.links.create'), new_admin_article_path(@site) %></li>
    <% if @articles.size > 1 %>
      <li>
        <%= link_to_function t(:'adva.articles.links.reorder'), "articles_list.toggle(this, #{t(:'adva.resources.reordering_done')});", :id => 'reorder_sections' %>
        <%= image_tag '/images/adva_cms/indicator.gif', :id => 'articles_indicator', :style => 'display: none;' %>
      </li>
    <% end %>
  </ul>
<% end -%>

<% unless @articles.empty? -%>
  <p class="total">
    <%= t('adva.articles.total_with_count', :count => @articles.total_entries) %>
  </p>

  <table id="articles" class="list">
    <thead>
      <tr>
        <th scope="col">Article</th>
        <th scope="col">Comments</th>
        <th scope="col">Published</th>
        <th scope="col">Author</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody id="articles-body">
      <%= render :partial => 'article', :collection => @articles %>
    </tbody>
  </table>

  <%= will_paginate @articles, :id => 'pagination' %>

  <script type="text/javascript">
    var articles_list = new ArticlesList($('articles-body'), {
      onUpdate: function(drag, drop, event) {
        <%= remote_function(:url => admin_articles_path(@site, @section),
                            :method =>   :put,
                            :with   =>   "articles_list.serialize()",
                            :loading =>  "$('articles_indicator').show()",
                            :complete => "$('articles_indicator').hide()" ) %>
      }
    });
  </script>
  
<% else %>

  <div class="empty">
    <%= t(:'adva.articles.no_entries_in_section', :section => @section.title) %>
    <%= link_to t(:'adva.articles.links.create_now'), new_admin_article_path(@site) %>
  </div>

<% end %>
