<% content_for :sidebar do -%>
  <h3>Manage</h3>
  <ul>
    <li><%= link_to "Articles", admin_articles_path(@site, @section) %></li>
    <li><%= link_to "Categories", admin_categories_path(@site, @section) %></li>
    <li><%= link_to "Settings", edit_admin_section_path(@site, @section) %></li>
  </ul>

  <h3>Actions</h3>
  <ul>
    <li><%= link_to 'Create a new article', new_admin_article_path(@site) %></li>
    <li><%= link_to_function 'Re-order articles', "articles_list.toggle(this, 'Done reordering');", :id => 'reorder_sections' %>
    <%= image_tag '/images/adva_cms/indicator.gif', :id => 'articles_indicator', :style => 'display: none;' %></li>
  </ul>
<% end -%>

<% unless @articles.empty? -%>
  <p class="total">
    Total: <%= content_tag :strong, pluralize(@articles.total_entries, "article") %>.
  </p>

  <table id="articles" class="list">
    <thead>
      <tr>
        <th scope="col">Article</th>
        <th scope="col">Comments</th>
        <th scope="col">Published</th>
        <th scope="col">Author</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody id="articles-body">
      <%= render :partial => 'article', :collection => @articles %>
    </tbody>
  </table>

  <%= will_paginate @articles, :id => 'pagination' %>

  <script type="text/javascript">
    var articles_list = new ArticlesList($('articles-body'), {
      onUpdate: function(drag, drop, event) {
        <%= remote_function(:url => admin_articles_path(@site, @section),
                            :method =>   :put,
                            :with   =>   "articles_list.serialize()",
                            :loading =>  "$('articles_indicator').show()",
                            :complete => "$('articles_indicator').hide()" ) %>
      }
    });
  </script>
  
<% else %>

  <div class="empty">
    There are no articles in <%= @section.title %>.
    <%= link_to "Create one now &raquo;", new_admin_article_path(@site) %>
  </div>

<% end %>
