<% if @article %>

  <div id="<%= dom_id @article %>" class="entry">
		<% unless @section.try(:single_article_mode) %>
 			<h2><%= link_to_content(@article) %></h2> 
		<% end %>

  	<div class="body">
	    <%= @article.excerpt_html %>
      <%= @article.body_html %>
  	</div>
  </div>

  <%= render :partial => 'comments/list', :locals => { :commentable => @article, :comments => @article.approved_comments } %>
  <%= render :partial => 'comments/form', :locals => { :commentable => @article } if @article.accept_comments? %>

<% end %>
