<h2><%= t(:'adva.tracker.label.edit_ticket') %></h2>

<%= error_messages_for :ticket %>

<% form_for :ticket, @ticket,
  :url => ticket_path(@section, @ticket.ticketable_id),
  :html => {:method => :put, :multipart => true} do |f| %>

  <%= render "form", :f => f %>

  <% f.buttons do %>
    <%= submit_tag t(:"adva.common.save") %> <%= t(:"adva.common.connector.or") %>
    <%= link_to t(:"adva.common.cancel"), tickets_path(@site, @section) %>
  <% end %>
<% end %>
