<h2><%= h(@parent.title) %></h2>
<p><%= h(@parent.desc) %></p>

<%# FIXME authorized_tag :span, :create, new_ticket do %>
  <%= link_to t(:"adva.tracker.link.new_ticket"), new_ticket_path(@section, @parent) %>
<%# end %>

<% if @parent.tickets.present? %>
  <%= render "tickets", :tickets => @parent.tickets %>
<% else %>
  <div class="empty">
    <%= t(:"adva.tracker.message.no_tickets") %>
  </div>
<% end %>
