<h2><%= t(:'adva.titles.spam_protection') %></h2>
<% f.field_set :spam_settings do %>
  <% column do %>
    <h4><%= t(:'adva.titles.spam_filters') %></h4>
    <span class="hint text_only"><%= t(:'adva.spam.hints.filters') %></span>

    <% SpamEngine::Filter.names.each do |name| %>
	    <h3><%= name %></h3>
			<p class="hint text_only"><%= t(:"adva.hints.#{name.downcase}")%></p>
	    <p>
	      <%= check_box_tag "site[spam_options][filters][]", name, site.spam_filter_active?(name), :class => "site_spam_options_filter", :id => "site_spam_options_filter_#{name.downcase}" unless name == 'Default' %>
	      <%= label :site, "spam_options_filter_#{name.downcase}", (name != 'Default' ? t(:'adva.spam.labels.enable', :name => name) : t(:'adva.spam.labels.settings', :name => name)), :class => 'inline' %>
	    </p>
	    <%= render :partial => "admin/spam/#{name.downcase}_settings", :locals => {:site => site, :active => site.spam_filter_active?(name)} %>
    <% end %>
  <% end %>
<% end %>
