<% if @site %>
  <ul id="site_menu_primary" class="menu site_menu">
    <li id="overview"><%= link_to t(:'adva.titles.overview'), admin_site_path(@site) %></li>
    <li id="section"><%= link_to t(:'adva.titles.sections'), new_admin_section_path(@site) %></li>
    <li id="assets"><%= link_to t(:'adva.titles.assets'), admin_assets_path(@site) %></li>
  </ul>
  <ul id="site_menu_secondary" class="menu site_menu">
    <li id="settings"><%= link_to t(:'adva.titles.settings'), edit_admin_site_path(@site) %></li>
    <li id="cache"><%= link_to t(:'adva.titles.cache'), admin_cached_pages_path(@site) %></li>
    <li id="themes"><%= link_to t(:'adva.titles.themes'), admin_themes_path(@site) %></li>
    <li  id="account"><%= link_to t(:'adva.titles.users'), admin_site_users_path(@site) %></li>
    <li  id="preview"><%= link_to t(:'adva.titles.website') + ' »', "http://#{@site.host}" %></li>
  </ul>
<% end %>
