<div id="utility-links" class="clearfix">
  <!-- 
  <ul class="breadcrumb">
    <li><a href="#"><%= t(:'adva.titles.dashboard') %></a> &raquo;</li>
    <li><a href="#"><%= t(:'adva.titles.accounts') %></a> &raquo;</li>
    <li class="active"><a href="#">Small Account</a></li>
  </ul>
  -->
  <ul class="userlinks">
    <% if current_user %>
      <li><%= t(:'adva.users.info.logged_in_as', :name => link_to_profile(@site, :name => current_user.name)) %></li>
      <li <% unless @site %>class="last"<% end %>><%= link_to t(:'adva.links.logout'), logout_path, :method => :delete %></li>
    <% else %>
      <li>You're not logged in</li> 
      <li <% unless @site %>class="last"<% end %>><%= link_to t(:'adva.links.login'), :controller => 'session', :action => 'new' %></li>    
    <% end %>
    <% if @site %>
      <li class="last"><%= link_to t(:'adva.titles.website') + ' »', "http://#{@site.host}" %></li>
    <% end %>
  </ul>
</div>

