<h3><%= t('adva.titles.manage') %></h3>
<ul>
  <li <%= active_li?("admin/newsletters") %>>
    <%= link_to t('adva.newsletter.link.index'), admin_newsletters_path %>
  </li>
  <% if @newsletter.present? && !@newsletter.new_record? %>
    <li <%= active_li?("admin/issues") %> ><%= link_to t('adva.newsletter.link.issues'), admin_issues_path(@site, @newsletter) %></li>
    <li <%= active_li?("admin/newsletter_subscriptions") %> ><%= link_to t('adva.newsletter.link.subscribers'), admin_subscriptions_path(@site, @newsletter) %></li>
  <% end %>
</ul>
