<% content_for :sidebar do %>
	<% fields_for :wikipage do |f| -%>
		<%= render :partial => 'options', :locals => { :f => f } %>
	<% end %>
<% end %>
<fieldset class="clearfix">
  <div class="col1">
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>
  </div>
</fieldset>