<% unless @wikipage.new_record? -%>
  <h3>Manage</h3>
  <ul>
    <li><%= link_to t(:'adva.wikipage.view._options.link_to_wikipages'), admin_wikipages_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.wikipage.view._options.link_to_categories'), admin_categories_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.wikipage.view._options.link_to_settings'), edit_admin_section_path(@site, @section) %></li>
  </ul>

  <h3>Actions</h3>
  <ul>
    <li><%= link_to t(:'adva.wikipage.view._options.link_to_create'), new_admin_wikipage_path(@site) %></li>
    <li><%= link_to t(:'adva.wikipage.view._options.link_to_preview'), content_url(@wikipage) %></li>
    <li><%= link_to t(:'adva.wikipage.view._options.link_to_delete'), admin_wikipage_path, { :confirm => t(:'adva.wikipage.view._options.confirm_delete'), :method => :delete } %></li>
  </ul>
<% end -%>

<h3>Assets</h3>
<%= render :partial => 'admin/assets/widget/widget', :locals => { :assets => { :latest => @site.assets.recent, :attached => @wikipage.assets, :bucket => bucket_assets } } %>

<% unless @wikipage.versions.empty? -%>
  <h3><%= t(:'adva.wikipage.view._options.wikipage_versions_header') %></h3>
  <p>
  	<%= wiki_version_links(@wikipage) %>
  </p>
<% end -%>

<h3><%= t(:'adva.wikipage.view._options.optional_settings_header') %></h3>

<%= f.select :author, author_options, :selected => author_preselect, :label => true %>
<%= f.select :filter, filter_options, {}, :class => 'columnsFilter', :label => true %>
<%= f.select :comment_age, comment_expiration_options, :label => :'adva.wikipage.view._options.label_for_comments' %>
<%= f.text_field :permalink, :label => true, :hint => :'adva.wikipage.view._options.permalink_hint' %>
<%= f.text_field :tag_list, :label => 'Tags', :hint => :'adva.wikipage.view._options.tags_hint' %>

<% unless @categories.blank? %>
  <h4><%= t(:'adva.wikipage.view._options.publish_categories_header') %></h4>
  <%= render :partial => 'categories/checkboxes', :locals => { :categories => @categories, :content => @wikipage } %>
<% end %>