<% if Rails.plugin?(:adva_assets) %>
	<h3>Assets</h3>
	<%= render :partial => 'admin/assets/widget/widget', :locals => { :assets => { :latest => @site.assets.recent, :attached => @wikipage.assets, :bucket => bucket_assets } } %>
<% end -%>

<% unless @wikipage.versions.empty? -%>
  <h3><%= t(:'adva.wikipage.view._options.wikipage_versions_header') %></h3>
  <p>
  	<%= wiki_version_links(@wikipage) %>
  </p>
<% end -%>

<h3><%= t(:'adva.wikipage.view._options.optional_settings_header') %></h3>

<%= f.select :author, author_options, :selected => author_preselect, :label => true %>
<%= f.select :filter, filter_options, {}, :class => 'columnsFilter', :label => true %>
<%= f.select :comment_age, comment_expiration_options, :label => :'adva.wikipage.view._options.label_for_comments' %>
<%= f.text_field :permalink, :label => true, :hint => :'adva.wikipage.view._options.permalink_hint' %>
<%= f.text_field :tag_list, :label => 'Tags', :hint => :'adva.wikipage.view._options.tags_hint' %>

<% unless @categories.blank? %>
  <h4><%= t(:'adva.wikipage.view._options.publish_categories_header') %></h4>
  <%= render :partial => 'categories/checkboxes', :locals => { :categories => @categories, :content => @wikipage } %>
<% end %>