<% unless @wikipage.new_record? -%>
<h3>Manage</h3>
<ul>
  <li><%= link_to "Wikipages", admin_wikipages_path(@site, @section) %></li>
  <li><%= link_to "Categories", admin_categories_path(@site, @section) %></li>
  <li><%= link_to "Settings", edit_admin_section_path(@site, @section) %></li>
</ul>

<h3>Actions</h3>
<ul>
  <li><%= link_to "Create a new wikipage", new_admin_wikipage_path(@site) %></li>
  <li><%= link_to "Preview this wikipage", content_url(@wikipage) %></li>
  <li><%= link_to "Delete this wikipage", admin_wikipage_path, { :confirm => "Are you sure you wish to delete this wikipage?", :method => :delete } %></li>
</ul>
<% end -%>

<h3>Assets</h3>
<%= render :partial => 'admin/assets/widget/widget', :locals => { :assets => { :latest => @site.assets.recent, :attached => @wikipage.assets, :bucket => bucket_assets } } %>

<% unless @wikipage.versions.empty? -%>
<h3>Wikipage versions</h3>
<p>
	<%= wiki_version_links(@wikipage) %>
</p>
<% end -%>

<h3>Optional settings</h3>
<p>
  <%= f.label :author %>
  <%= f.select :author, author_options, :selected => author_preselect %>
</p>
<p>
  <%= f.label :filter %>
  <%= f.select :filter, filter_options %>
</p>
<p>
  <%= f.label :comment_age, 'Comments' %>
  <%= f.select :comment_age, comment_expiration_options %>
</p>
<p>
  <%= f.label :permalink %>
  <span class="hint">Use only ASCII characters and use dashes instead of spaces.</span>
  <%= f.text_field :permalink %>
</p>
<p>
  <%= f.label :tag_list, 'Tags' %>
  <span class="hint">Separate tags by spaces. Enclose tags with quotes to include spaces.</span>
  <%= f.text_field :tag_list %>
</p>

<% unless @categories.empty? %>
  <h4>Publish in these categories</h4>
  <%= render :partial => 'categories/checkboxes', :locals => { :categories => @categories, :content => @wikipage } %>
<% end %>