<tr id="wikipage_<%= wikipage.id %>">
  <td><%= link_to wikipage.title, edit_admin_wikipage_path(@site, @section, wikipage) %></td>
  <td><%= wikipage.version %></td>
  <td><%= wikipage.updated_at.strftime('%d.%m.%Y %H:%M') %></td>
  <td><%= link_to wikipage.author_link, admin_site_user_path(@site, wikipage.author) %></td>
  <td>
    <%= !wikipage.comments.empty? ? link_to(wikipage.comments.size, admin_comments_path(:content_id => wikipage.id)) : 'none' %>
  </td>
  <td class="actions">
    <%= link_to "View", wikipage_path(@section.id, wikipage.permalink), :class => 'view' %>
    <%= link_to "Edit", edit_admin_wikipage_path(@site, @section, wikipage), :class => 'edit' %>
    <%= link_to "Delete", admin_wikipage_path(@site, @section, wikipage), :class => 'delete', :confirm => "Are you sure you wish to delete this wikipage?", :method => :delete %>
  </td>
</tr>
