<tr id="wikipage_<%= wikipage.id %>">
  <td><%= link_to wikipage.title, edit_admin_wikipage_path(@site, @section, wikipage) %></td>
  <td><%= wikipage.version %></td>
  <td><%= wikipage.updated_at.strftime('%d.%m.%Y %H:%M') %></td>
  <td><%= link_to wikipage.author_link, admin_site_user_path(@site, wikipage.author) %></td>
  <td>
    <% if wikipage.comments.size == 0 %>
      none
    <% else %>
      <%= link_to wikipage.comments.size.to_s.rjust(2, '0'), admin_comments_path(:content_id => wikipage.id) %>
    <% end %> 
  </td>
  <td><%= link_to "view", wikipage_path(@section.id, wikipage.permalink), :class => 'view' %></td>  
</tr>
