<tr id="wikipage_<%= wikipage.id %>">
  <td><%= link_to wikipage.title, edit_admin_wikipage_path(@site, @section, wikipage) %></td>
  <td><%= wikipage.version %></td>
  <td><%= wikipage.updated_at.strftime('%d.%m.%Y %H:%M') %></td>
  <td><%= link_to wikipage.author_link, admin_site_user_path(@site, wikipage.author) %></td>
  <td>
    <%= !wikipage.comments.empty? ? link_to(wikipage.comments.size, admin_comments_path(:content_id => wikipage.id)) : 'none' %>
  </td>
  <td class="actions">
    <%= view_resource_link(wikipage, wikipage_path(@section.id, wikipage.permalink)) %>
    <%= edit_resource_link(wikipage, edit_admin_wikipage_path(@site, @section, wikipage)) %>
    <%= delete_resource_link(wikipage, admin_wikipage_path(@site, @section, wikipage), :confirm => t(:'adva.wikipage.view._wikipages.confirm_delete')) %>
  </td>
</tr>