<% content_for :sidebar do -%>
  <h3><%= t(:'adva.wikipage.view.index.manage_header') %></h3>
  <ul>
    <li><%= link_to t(:'adva.wikipage.view._options.link_to_wikipages'), admin_wikipages_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.common.categories'), admin_categories_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.common.settings'), edit_admin_section_path(@site, @section) %></li>
  </ul>

  <h3><%= t(:'adva.wikipage.view.index.actions_header') %></h3>
  <ul>
    <li><%= link_to t(:'adva.wikipage.view.index.link_to_create'), new_admin_wikipage_path(@site) %></li>
  </ul>
<% end -%>

<% unless @wikipages.empty? -%>
  <p class="total">
    Total: <%= content_tag :strong, t(:'adva.common.wikipage', :count => @wikipages.total_entries) %>.
  </p>
  <table id="wikipages" class="list" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th scope="col"><%= t(:'adva.common.wikipage', :count => 1) %></th>
        <th scope="col"><%= t(:'adva.common.version') %></th>
        <th scope="col"><%= t(:'adva.common.last_updated') %></th>
        <th scope="col"><%= t(:'adva.common.by') %></th>
        <th scope="col"><%= t(:'adva.common.comments') %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="wikipages-body">
      <%= render :partial => 'wikipage', :collection => @wikipages %>
    </tbody>
  </table>
  <%= will_paginate @wikipages, :id => 'pagination' %>
  <script type="text/javascript">
    var wikipages_list = new WikipagesList($('wikipages-body'), {
      onUpdate: function(drag, drop, event) {
        <%= remote_function(:url => admin_wikipages_path(@site, @section),
                            :method =>   :put,
                            :with   =>   "wikipages_list.serialize()",
                            :loading =>  "$('wikipages_indicator').show()",
                            :complete => "$('wikipages_indicator').hide()" ) %>
      }
    });
  </script>
<% else -%>
  <div class="empty" style="margin-bottom:20px">
    <% unless params[:filter] -%>
      <%= t(:'adva.wikipage.view.index.no_wikipages_notice') %>
      <%= link_to t(:'adva.wikipage.view.index.link_to_create_one_now'), new_admin_wikipage_path(@site) %>
    <% else -%>
      <%= t(:'adva.wikipage.view.index.no_matching_pages_notice') %>
    <% end -%>
  </div>
<% end -%>