<% content_for :sidebar do -%>
  <h3><%= t(:'adva.wikipage.view.index.manage_header') %></h3>
  <ul>
    <li><%= link_to t(:'adva.wikipage.view._options.link_to_wikipages'), admin_wikipages_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.common.categories'), admin_categories_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.common.settings'), edit_admin_section_path(@site, @section) %></li>
  </ul>

  <h3><%= t(:'adva.wikipage.view.index.actions_header') %></h3>
  <ul>
    <li><%= link_to t(:'adva.wikipage.view.index.link_to_create'), new_admin_wikipage_path(@site) %></li>
  </ul>
<% end -%>

<% unless @wikipages.empty? -%>
  <p class="total">
    Total: <%= content_tag :strong, t(:'adva.common.wikipage', :count => @wikipages.total_entries) %>.
  </p>

	<%
		table_for @wikipages do |t|
			t.columns :wikipage, :version, :last_updated, :by, :comments, :actions
			t.body do |r, wikipage, index|
	  		r.cell link_to wikipage.title, edit_admin_wikipage_path(@site, @section, wikipage)
				r.cell wikipage.version
				r.cell wikipage.updated_at.strftime('%d.%m.%Y %H:%M')
				r.cell link_to(wikipage.author_link, admin_site_user_path(@site, wikipage.author))
				r.cell !wikipage.comments.empty? ? link_to(wikipage.comments.size, admin_comments_path(:content_id => wikipage.id)) : 'none'
				r.cell wikipage.version
				r.cell view_resource_link(wikipage, wikipage_path(@section.id, wikipage.permalink)) + "\n" +
				       edit_resource_link(wikipage, edit_admin_wikipage_path(@site, @section, wikipage)) + "\n" +
				       delete_resource_link(wikipage, admin_wikipage_path(@site, @section, wikipage), :confirm => t(:'adva.wikipage.view._wikipages.confirm_delete'))
			end
		end
	%>
	
  <%= will_paginate @wikipages, :id => 'pagination' %>

  <script type="text/javascript">
    var wikipages_list = new WikipagesList($('wikipages_body'), {
      onUpdate: function(drag, drop, event) {
        <%= remote_function(:url => admin_wikipages_path(@site, @section),
                            :method =>   :put,
                            :with   =>   "wikipages_list.serialize()",
                            :loading =>  "$('wikipages_indicator').show()",
                            :complete => "$('wikipages_indicator').hide()" ) %>
      }
    });
  </script>

<% else -%>

  <div class="empty">
    <% unless params[:filter] -%>
      <%= t(:'adva.wikipage.view.index.no_wikipages_notice') %>
      <%= link_to t(:'adva.wikipage.view.index.link_to_create_one_now'), new_admin_wikipage_path(@site) %>
    <% else -%>
      <%= t(:'adva.wikipage.view.index.no_matching_pages_notice') %>
    <% end -%>
  </div>
<% end -%>