<% content_for :sidebar do -%>
  <h3><%= t(:'adva.wikipage.view.index.manage_header') %></h3>
  <ul>
    <li><%= link_to t(:'adva.wikipage.view._options.link_to_wikipages'), admin_wikipages_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.common.categories'), admin_categories_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.common.settings'), edit_admin_section_path(@site, @section) %></li>
  </ul>

  <h3><%= t(:'adva.wikipage.view.index.actions_header') %></h3>
  <ul>
    <li><%= link_to t(:'adva.wikipage.view.index.link_to_create'), new_admin_wikipage_path(@site) %></li>
  </ul>
<% end -%>

<%
	table_for @wikipages do |t|
		t.column :wikipage, :version, :last_updated, :by, :comments, :actions

		t.head.row do |r|
			r.cell t(:'adva.common.wikipage', :count => @wikipages.total_entries), :class => :total, :colspan => :all
		end
		
		t.row do |r, wikipage|
  		r.cell link_to wikipage.title, edit_admin_wikipage_path(@site, @section, wikipage)
			r.cell wikipage.version
			r.cell wikipage.updated_at.strftime('%d.%m.%Y %H:%M')
			r.cell link_to(wikipage.author_link, admin_site_user_path(@site, wikipage.author))
			r.cell !wikipage.comments.empty? ? link_to(wikipage.comments.size, admin_comments_path(:content_id => wikipage.id)) : 'none'
			r.cell wikipage.version
			r.cell view_resource_link(wikipage, wikipage_path(@section.id, wikipage.permalink)) + "\n" +
			       edit_resource_link(wikipage, edit_admin_wikipage_path(@site, @section, wikipage)) + "\n" +
			       delete_resource_link(wikipage, admin_wikipage_path(@site, @section, wikipage), :confirm => t(:'adva.wikipage.view._wikipages.confirm_delete'))
		end
		
		t.foot.row do |r|
			r.cell will_paginate(@wikipages), :class => :pagination, :colspan => :all
		end

		t.empty :p, :class => 'empty' do
	    params[:filter] ?
	      t(:'adva.wikipage.view.index.no_matching_pages_notice') :
	      t(:'adva.wikipage.view.index.no_wikipages_notice') + "\n" +
	      link_to(t(:'adva.wikipage.view.index.link_to_create_one_now'), new_admin_wikipage_path(@site))
		end
	end
%>