<% content_for :sidebar do -%>
  <h3>Manage</h3>
  <ul>
    <li><%= link_to "Wikipages", admin_wikipages_path(@site, @section) %></li>
    <li><%= link_to "Categories", admin_categories_path(@site, @section) %></li>
    <li><%= link_to "Settings", edit_admin_section_path(@site, @section) %></li>
  </ul>

  <h3>Actions</h3>
  <ul>
    <li><%= link_to "Create a new wikipage", new_admin_wikipage_path(@site) %></li>
    <li><%= link_to_function 'Re-order wikipages', "wikipages_list.toggle(this, 'Done reordering');", :id => 'reorder_sections' %>
    <%= image_tag '/images/adva_cms/indicator.gif', :id => 'wikipages_indicator', :style => 'display: none;' %></li>
  </ul>
<% end -%>

<% unless @wikipages.empty? -%>
  <p class="total">
    Total: <%= content_tag :strong, pluralize(@wikipages.total_entries, "wikipage") %>.
  </p>
  <table id="wikipages" class="list" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th scope="col">Wikipage</th>
        <th scope="col">Version</th>
        <th scope="col">Last Updated</th>
        <th scope="col">By</th>
        <th scope="col">Comments</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="wikipages-body">
      <%= render :partial => 'wikipage', :collection => @wikipages %>
    </tbody>
  </table>
  <%= will_paginate @wikipages, :id => 'pagination' %>
  <script type="text/javascript">
    var wikipages_list = new WikipagesList($('wikipages-body'), {
      onUpdate: function(drag, drop, event) {
        <%= remote_function(:url => admin_wikipages_path(@site, @section),
                            :method =>   :put,
                            :with   =>   "wikipages_list.serialize()",
                            :loading =>  "$('wikipages_indicator').show()",
                            :complete => "$('wikipages_indicator').hide()" ) %>
      }
    });
  </script>
<% else -%>
  <div class="empty" style="margin-bottom:20px">
    <% unless params[:filter] -%>
      You have no pages on your wiki.
      <%= link_to "Create one now &raquo;", new_admin_wikipage_path(@site) %>
    <% else -%>
      You don't seem to have any wikipages matching that criteria.
    <% end -%>
  </div>
<% end -%>