
<% f.field_set :title do %>
  <%= f.text_field :title, :label => :'adva.calendar.attributes.title' %>
<% end %>

<% f.field_set :attributes do %>
  <% column do %>
		<%= f.text_field :host, :label => :'adva.calendar.attributes.host' %>
	<% end %>
	
	<% column do %>
		<%= f.text_field :location, :label => :'adva.calendar.attributes.location' %>
	<% end %>
<% end %>

<% f.field_set :datetimes do %>
	<% column do %>
		<%#= f.text_field :start_date, :value => @event.start_date.localtime.rfc2822 %>
		<%= f.datetime_select :start_date, {}, :label => t(:'adva.calendar.attributes.start_date') %>
	<% end %>
	
	<% column do %>
	  <%#= f.text_field :end_date, :value => (@event.end_date ? @event.end_date.localtime.rfc2822 : '') %>
	  <%= f.datetime_select :end_date, {}, :label => t(:'adva.calendar.attributes.end_date') %>
	
		<label>
			<%= f.check_box :all_day %> <%= t(:'adva.calendar.attributes.all_day') %>
		</label>
	<% end %>
<% end %>

<% f.field_set :more_attributes do %>
 	<%= f.text_area :body, :class => "big wysiwyg", :label => :'adva.calendar.attributes.body' %>

  <%= f.label :draft, t(:'adva.calendar.question_save_as_draft') %>
  <label class="light">
    <%= check_box_tag :draft, '1', @event.draft?, :id => 'toggle_draft' %> 
		<%= t(:'adva.calendar.confirm_save_as_draft') %>
  </label>

  <p id="publish_date_wrapper" style="<%= @event.draft? ? "display:none" : "" %>">
    <%= f.label :published_at, t(:'adva.calendar.publish_on_date') %>
    <%= f.datetime_select :published_at,
                          :start_year => (@event.published_at || Time.zone.now).year-1,
                          :end_year => (Time.zone.now.year + 5),
                          :order => [:month, :day, :year] %>
  </p>
<% end %>

<%= render :partial => 'options', :locals => {:f => f} %>

<script type="text/javascript">
/*$(document).ready(function() {
  options = {
    dateFormat: 'D, d M yy',
    dayNames: ['<%= t(:'date.day_names').join("', '") %>'],
    dayNamesMin: ['<%= t(:'date.abbr_day_names').join("', '") %>'],
    dayNamesShort: ['<%= t(:'date.abbr_day_names').join("', '") %>'],
    monthNames: ['<%= t(:'date.month_names').join("', '") %>'],
    monthNamesShort: ['<%= t(:'date.abbr_month_names').join("', '") %>'],
    navigationAsDateFormat: true,
    prevText: 'MM yy',
    nextText: 'MM yy'
  }
  $('#calendar_event_start_date').datepicker(options);
  $('#calendar_event_end_date').datepicker(options);
});*/
</script>