<% unless @categories.empty? -%>
  <h4><%= t(:'adva.calendar.titles.publish_in_categories') %></h4>
  <%= render :partial => 'categories/checkboxes', :locals => { :categories => @categories, :content => @event } %>
<% end -%>

<h4><%= t(:'adva.titles.assets') %></h4>

<%= render :partial => 'admin/assets/widget/widget', :locals => { :assets => { :latest => @site.assets.recent, :attached => @event.assets, :bucket => bucket_assets } } %>

<h4><%= t(:'adva.titles.optional_settings') %></h4>

<%= f.label :user_id %>
<%= f.select :user_id, author_options(@site.users), :selected => author_selected(@article) %>

<%= f.label :filter %>
<%= f.select :filter, filter_options, {}, :class => 'columnsFilter' %>

<%= f.label :permalink %>
<%= f.text_field :permalink %>


