<h2><%= t(:'adva.categories.titles.edit') %></h2>

<% content_for :sidebar do -%>
<h3><%= t(:'adva.titles.actions') %></h3>
<ul>
  <li><%= link_to t(:'adva.categories.links.create'), new_admin_category_path %></li>
  <li><%= link_to t(:'adva.categories.links.delete'), admin_category_path, { :confirm => t(:'adva.categories.confirm_delete'), :method => :delete } %></li>
</ul>
<% end -%>

<% form_for :category, @category, :url => admin_category_path, :html => {:method => :put} do |f| %>
  <fieldset class="clearfix">
    <div class="col">
      <%= f.label :title %>
      <%= f.text_field :title %>
      </div>
      <div class="col"> 
      <%= f.label :permalink %>
      <%= f.text_field :permalink %>
    </div>
  </fieldset>
  <p class="buttons">
  	<%= submit_tag t(:'adva.common.save') %> or 
  	<%= link_to t(:'adva.common.cancel'), admin_categories_path %>
  </p>
<% end %>