<h2>Edit Category</h2>

<% form_for :category, @category, :url => admin_category_path, :html => {:method => :put} do |f| %>
  <fieldset class="clearfix">
    <div class="col">
      <%= f.label :title %>
      <%= f.text_field :title %>
      </div>
      <div class="col"> 
      <%= f.label :permalink %>
      <%= f.text_field :permalink %>
    </div>
  </fieldset>
  <p class="buttons">
  	<%= submit_tag 'Save' %>	
  	<%= link_to 'Delete', admin_category_path, { :confirm => "Are you sure you wish to delete this category?", :method => :delete } %>
  </p>
<% end %>