<h2>Edit Category</h2>

<% content_for :sidebar do -%>
<h3>Actions</h3>
<ul>
  <li><%= link_to 'Delete category', admin_category_path, { :confirm => "Are you sure you wish to delete this category?", :method => :delete } %></li>
</ul>
<% end -%>

<% form_for :category, @category, :url => admin_category_path, :html => {:method => :put} do |f| %>
  <fieldset class="clearfix">
    <div class="col">
      <%= f.label :title %>
      <%= f.text_field :title %>
      </div>
      <div class="col"> 
      <%= f.label :permalink %>
      <%= f.text_field :permalink %>
    </div>
  </fieldset>
  <p class="buttons">
  	<%= submit_tag 'Save' %> or 
  	<%= link_to "cancel", admin_categories_path %>
  </p>
<% end %>