<h2><%= t(:'adva.categories.titles.edit') %></h2>

<% content_for :sidebar do -%>
	<h3><%= t(:'adva.titles.actions') %></h3>
	<ul>
	  <li><%= link_to t(:'adva.categories.links.create'), new_admin_category_path %></li>
	  <li><%= delete_resource_link(@category, admin_category_path) %></li>
	</ul>
<% end %>

<% form_for :category, @category, :url => admin_category_path, :html => {:method => :put} do |f| %>
	<% f.field_set do %>
    <% column do %>
      <%= f.text_field :title, :label => true %>
    <% end %>

    <% column do %>
      <%= f.text_field :permalink, :label => true %>
    <% end %>
  <% end %>

  <%= save_or_cancel_links(f, :cancel_url => admin_categories_path) %>
<% end %>
