<h2><%= t(:'adva.categories.titles.edit') %></h2>

<% content_for :sidebar do -%>
	<h3><%= t(:'adva.titles.actions') %></h3>
	<ul>
	  <li><%= link_to t(:'adva.categories.links.create'), new_admin_category_path %></li>
	  <li><%= link_to t(:'adva.categories.links.delete'), admin_category_path, { :confirm => t(:'adva.categories.confirm_delete'), :method => :delete } %></li>
	</ul>
<% end %>

<% form_for :category, @category, :url => admin_category_path, :html => {:method => :put} do |f| %>
	<% f.field_set do %>
    <% column do %>
      <%= f.text_field :title, :label => true %>
    <% end %>

    <% column do %>
      <%= f.text_field :permalink, :label => true %>
    <% end %>
  <% end %>

  <% f.buttons do %>
  	<%= submit_tag t(:'adva.common.save') %> <%= t(:'adva.common.connector.or') %> 
  	<%= link_to t(:'adva.common.cancel'), admin_categories_path %>
  <% end %>
<% end %>
