<% content_for :sidebar do -%>
  <h3><%= t(:'adva.titles.actions') %></h3>
  <ul>
    <li><%= link_to t(:'adva.categories.links.create'), new_admin_category_path %></li>
    <% if @categories.size > 1 %>
      <li>
        <%= link_to_function t(:'adva.categories.links.reorder'), "categories_list.toggle(this, '#{t(:'adva.resources.reordering_done')}')", :id => 'reorder_categories' %>
        <%= image_tag '/images/adva_cms/indicator.gif', :id => 'categories_indicator', :style => 'display: none;' %>
      </li>
    <% end %>
  </ul>
<% end -%>

<% unless @categories.empty? %>
  <p class="total">
    <%= t('adva.categories.total_with_count', :count => @categories.total_entries) %>
  </p>

  <table id="categories" class="list">
    <thead>
      <tr>
        <th scope="col"><%= t(:'adva.categories.attributes.name') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="categories-body">
      <%= render :partial => 'category', :collection => @categories %>
    </tbody>
  </table>

  <script>
    var categories_list = new SortableList('categories', {
      onUpdate: function(drag, drop, event) {
        <%= remote_function(:url => admin_categories_path(@site),
                            :method =>   :put,
                            :with   =>   "categories_list.serialize()",
                            :loading =>  "$('categories_indicator').show()",
                            :complete => "$('categories_indicator').hide()" ) %>
      }
    });
  </script>
  
<% else %>
  <div class="empty">
    <%= t(:'adva.categories.no_categories_in_section', :section => @section.title) %>
    <%= link_to "Create one now &raquo;", new_admin_category_path %>
  </div>
<% end %>
