<% fields_for :photo do |f| -%>
	<h3><%= t(:'adva.titles.optional_settings') %></h3>
	<% f.field_set :optional_settings do %>
	  <%= f.select :author, author_options, :selected => author_preselect, :label => true %>
	  <%= f.select :comment_age, comment_expiration_options, :label => :'adva.titles.comments' %>
	  <%= f.text_field :tag_list, :label => 'Tags', :hint => :'adva.articles.hints.tags' %>

		<% unless @sets.empty? %>
	  	<h4><%= t(:'adva.photos.admin.photos.publish_in_set') %></h4>
	    <%= render :partial => 'sets/checkboxes', :locals => {:sets => @sets, :photo => @photo} %>
		<% end %>
	<% end %>
<% end %>