<h3><%= t(:'adva.titles.manage') %></h3>
<ul>
  <li><%= link_to "Photos", admin_photos_path(@site, @section) %></li>
	<li><%= link_to "Sets", admin_sets_path(@site, @section) %></li>
  <li><%= link_to 'Settings', edit_admin_section_path(@site, @section), :id => 'settings_section' %></li>
</ul>

<% unless @photo.new_record? -%>
<h3><%= t(:'adva.titles.actions') %></h3>
<ul>
  <li><%= link_to "Upload new photos", new_admin_photo_path(@site, @section) %></li>
  <li><%= link_to "Delete photo", admin_photo_path(@site, @section, @photo), { :confirm => "Are you sure you want to delete this photo?", :method => :delete } %></li>
</ul>
<% end -%>

<h3><%= t(:'adva.titles.optional_settings') %></h3>
<% f.field_set :optional_settings do %>
  <%= f.select :author, author_options, :selected => author_preselect, :label => true %>
  <%= f.select :comment_age, comment_expiration_options, :label => :'adva.titles.comments' %>
  <%= f.text_field :tag_list, :label => 'Tags', :hint => :'adva.articles.hints.tags' %>

	<% unless @sets.empty? %>
  	<h4><%= 'Publish photo in sets' %></h4>
    <%= render :partial => 'sets/checkboxes', :locals => {:sets => @sets, :photo => @photo} %>
	<% end %>
<% end %>