<tr id="<%= dom_id photo %>">
  <td><%= link_to photo.title, edit_admin_photo_path(@site, @section, photo), :class => photo.state %></td>
  <td><%= photo.accept_comments? && !photo.comments.empty? ? link_to(photo.comments.size, admin_comments_path) : t(:"adva.common.none") %></td>
  <td><%= published_at_formatted photo %></td>
  <td><%= link_to h(photo.author_name), admin_site_user_path(@site, photo.author) %></td>
  <td class="actions">
    <%= link_to t(:'adva.resources.edit'), edit_admin_photo_path(@site, @section, photo), :class => 'edit' %>
    <%#= link_to t(:'adva.resources.delete'), admin_photo_path(@site, @section, photo), :class => 'delete', :confirm => "Are you sure you want to delete this photo?", :method => :delete %>
  </td>
</tr>
