<% content_for :sidebar do -%>
  <h3><%= t(:'adva.photos.common.manage') %></h3>
  <ul>
    <li><%= link_to t(:'adva.photos.common.photos'), admin_photos_path(@site, @section) %></li>
		<li><%= link_to t(:'adva.photos.common.sets'), admin_sets_path(@site, @section) %></li>
    <li><%= link_to t(:'adva.photos.common.settings'), edit_admin_section_path(@site, @section), :id => 'settings_section' %></li>
  </ul>

  <h3><%= t(:'adva.photos.common.actions') %></h3>
  <ul>
    <li><%= link_to t(:'adva.photos.admin.photos.upload_photo'), new_admin_photo_path(@site, @section) %></li>
  </ul>
<% end -%>

<% unless @photos.empty? -%>

  <p class="total">
    <%= t(:'adva.photos.admin.photos.total', :total_entries => @photos.total_entries) %>
  </p>

  <table>
    <thead>
      <tr>
        <th><%= t(:'adva.photos.common.title') %></th>
        <th><%= t(:'adva.photos.name') %></th>
        <th><%= t(:'adva.photos.common.comments') %></th>
        <th><%= t(:'adva.photos.common.published') %></th>
        <th><%= t(:'adva.photos.common.author') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'photo', :collection => @photos %>
    </tbody>
  </table>

  <%= will_paginate @photos, :id => 'pagination' %>

<% else %>

  <div class="empty">
			<%= t(:'adva.photos.admin.photos.no_photo_in_album') %>
      <%= link_to t(:'adva.photos.admin.photos.upload_now'), new_admin_photo_path(@site) %>
  </div>

<% end %>