<% content_for :sidebar do -%>
  <h3><%= "Manage" %></h3>
  <ul>
    <li><%= link_to 'Photos', admin_photos_path(@site, @section) %></li>
    <li><%= link_to 'Settings', edit_admin_section_path(@site, @section), :id => 'settings_section' %></li>
  </ul>

  <h3><%= 'Actions' %></h3>
  <ul>
    <li><%= link_to 'Upload a photo', new_admin_photo_path(@site, @section) %></li>
  </ul>
<% end -%>

<% unless @photos.empty? -%>

  <p class="total">
    <%= "Total photo entries #{@photos.total_entries}" %>
  </p>

  <table id="photos" class="list">
    <thead>
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Comments</th>
        <th scope="col">Published</th>
        <th scope="col">Author</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'photo', :collection => @photos %>
    </tbody>
  </table>

  <%= will_paginate @photos, :id => 'pagination' %>

<% else %>

  <div class="empty">
			You have no photos in your album.
      <%= link_to "Upload one now", new_admin_photo_path(@site) %>
  </div>

<% end %>