<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Admin <%= controller.controller_name %></title>

  <%= stylesheet_link_tag :admin, :cache => true %>
  <%= javascript_include_tag :common, :admin, :cache => true %>
</head>
<body>
  <div id="header">
		<%= Menus.instance(:admin).render(self, :level => 1, :branch => :left,  :class => 'top left', :build => true, :activate => request.path) %>
		<%= Menus.instance(:admin).render(self, :level => 1, :branch => :right, :class => 'top right') %>
  </div>
	<div id="page">
		<%= yield :form if @content_for_form %>
		<div id="main">
			<div class="navigation">
				<%= render :partial => 'admin/shared/breadcrumbs' %>
	      <div id="main_menu">
	        <%= Menus.instance(:admin).render(self, :level => 2, :class => 'menu main left') %>
	        <%= Menus.instance(:admin).render(self, :level => 3, :class => 'menu main right') %>
				</div>
			</div>
      <%= render :partial => 'shared/flash' %>
			<div id="content">
				<%#=h Menus.instance(:'foo.bar').render(self) %>
        <%= yield %>
			</div>
		</div>
		<div id="right">
			<div class="navigation">
				<%= render :partial => 'admin/shared/login_status' %>
			</div>
    	<div id="sidebar">
      	<%= yield :sidebar %>
    	</div>
		</div>
    <%= '</form>' if @content_for_form %>
		<div id="left" class="collapsed">
		</div>
  </div>
</body>
</html>
