<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Admin <%= controller.controller_name %></title>

  <style type="text/css"> @import '/stylesheets/adva_cms/admin/styles.css';</style>
  <%= stylesheet_link_tag  :admin, :cache => true %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/adva_cms/admin/print.css" media="print" />
  <!--[if lte IE 6]><link rel="stylesheet" href="/stylesheets/adva_cms/admin/styles.ie6.css" type="text/css" media="screen"/><![endif]-->
  <%= javascript_include_tag :common, :admin, :cache => true %>
  <%= yield :layout_head %>
</head>
<body>
  <ul id="acc_links">
      <li><a href="#main-nav"><%= t(:'adva.links.skip_to_navigation') %></a></li>
      <li><a href="#content"><%= t(:'adva.links.skip_to_content') %></a></li>
  </ul>

  <div id="container">
    <div id="header">
			<%= yield :header %>
    </div>

    <div id="content" class="clearfix">
      <%= yield :form if @content_for_form %>

      <div id="main_content"><div id="main_content_wrapper">
        <%= render :partial => 'shared/flash' %>

        <div class="padded">
          <% if @content_for_action_nav %>
            <%= yield :action_nav %>
          <% end %>

          <% if @content_for_filter %>
            <div id="filter"><%= yield :filter %></div>
          <% end %>

          <%= yield %>
        </div>
      </div></div>

      <div id="sidebar">
        <%= yield :sidebar %>
      </div>

      <%= '</form>' if @content_for_form %>
    </div>
  </div>
</body>
</html>
