<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= @site.title %></title>
    
    <%= stylesheet_link_tag :adva_cms_public %>
    
    <%= javascript_include_tag :adva_cms_common, :adva_cms_public %>

    <%= authorize_elements %>
  </head>
  <body>
    <div id="page">
      <div id="header" class="clearing">
        <h1><%= @site.title %></h1>
        <h2><%= @site.subtitle %></h2>

        <p id="login_links" class="navigation">
          &middot; 
					<a id="login_link" href="/login">Login</a>
        </p>
        <p id="logout_links" class="navigation" style="display: none;">
          &middot; 
          <%= t(:'adva.users.info.logged_in_as', :name => '<a id="messages_link" href="/messages"><span class="user_name"></span></a>') %> &middot;
					<a id="logout_link" href="/logout">Logout</a>
        </p>
        <%= render :widget => :sections %>
      </div>
      <div id="main">
        <%= render :partial => 'shared/flash' %>  
        <%= yield %>
      </div>
      <%= yield :footer or render :partial => 'shared/footer' %>
    </div>
    <% if @site.has_tracking_enabled? -%>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("<%= @site.google_analytics_tracking_code %>");
    pageTracker._trackPageview();
    </script>
    <% end -%>
  </body>
</html>
