<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />   
    <title><%= controller.controller_name %></title>
    
    <%= stylesheet_link_tag    'adva_cms/admin/base', 'adva_cms/admin/form', 
                               'adva_cms/admin/layout/base', 'adva_cms/admin/layout/simple',
                               :cache => 'cache/admin/simple' %>
                               
    <%= javascript_include_tag 'adva_cms/prototype', 'adva_cms/effects', 
                               'adva_cms/dragdrop', 'adva_cms/lowpro',
                               'adva_cms/sortable_tree/sortable_tree', 'adva_cms/flash', 
                               'adva_cms/json', 'adva_cms/cookie',
                               :cache => 'cache/admin/simple' %>

    <%= yield :head %>
  </head>
  <body>   
    <div id="header">
    </div>
    
    <div id="main">
      <div id="flashes"><%= render :partial => 'shared/flash' %></div>
      <div id="content">
        <%= yield %>      
      </div>
    </div>

  </body>
</html>
