<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />   
    <title><%= controller.controller_name %></title>
    
    <%= stylesheet_link_tag    :simple, :cache => 'cache/admin/simple' %>
                               
    <%= javascript_include_tag :common,
                               'adva_cms/dragdrop', 'adva_cms/sortable_tree/sortable_tree',
                               :cache => 'cache/admin/simple' %>

    <%= yield :head %>
  </head>
  <body>   
    <div id="header">
    </div>
    
    <div id="main">
      <div id="flashes"><%= render :partial => 'shared/flash' %></div>
      <div id="content">
        <%= yield %>      
      </div>
    </div>
    <% unless @site.blank? or @site.google_analytics_tracking_code.blank? -%>
	    <script type="text/javascript">
		    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	    </script>
	    <script type="text/javascript">
		    var pageTracker = _gat._getTracker("<%= @site.google_analytics_tracking_code %>");
		    pageTracker._trackPageview();
	    </script>
    <% end -%>
  </body>
</html>
