<fieldset class="clearfix">
  <div class="col">
    <%= f.label :name %>
    <%= f.text_field :name, :tabindex => 1 %>
    <%= f.label :author %>
    <%= f.text_field :author, :tabindex => 3 %>
    <%= f.label :homepage %>
    <%= f.text_field :homepage, :tabindex => 4 %>
  </div>
  <div class="col">
    <%= f.label :version %>
    <%= f.text_field :version, :class => 'short', :tabindex => 2 %>
    <%= f.label :summary %>
    <%= f.text_area :summary, :class => 'short', :tabindex => 5 %>
  </div>
</fieldset>
