<fieldset class="clearfix">

  <fieldset class="col">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :author %>
    <%= f.text_field :author %>

    <%= f.label :homepage %>
    <%= f.text_field :homepage %>
    </fieldset>

    <fieldset class="col">
    <%= f.label :version %>
    <%= f.text_field :version, :class => 'short' %>

    <%= f.label :summary %>
    <%= f.text_area :summary, :class => 'short' %>
    
  </fieldset>

</fieldset>

  <p class="buttons">
    <%= f.submit 'Save' %>
    <%= link_to "cancel", admin_themes_path %>
  </p>
