<li class="theme<%= ' current' if @site.current_theme?(theme) %>">
  <h4 title="stored in <%= theme.path %>"><%= theme.name %></h4>
  <p>
    <% unless theme.version.blank? -%>v<%= theme.version %> |<% end -%>
    by <%= theme.author_link %>
  </p>
  <%= link_to image_tag(theme.preview.path.to_s), admin_theme_path(@site, theme.id) %>
  <ul class="options">
    <% if @site.current_theme?(theme) %>
      <li><%= link_to "Unselect", admin_site_selected_theme_path(@site, theme.id), { :confirm => "Are you sure you wish to not use this theme anymore?", :method => :delete } %></li>
    <% else %>
      <li><%= link_to "Select", admin_site_selected_themes_path(@site, :id => theme.id), { :confirm => "Are you sure you wish to use this theme?", :method => :post } %></li>
    <% end %>
    <li><%= link_to "Edit", admin_theme_path(@site, theme.id) %></li>
    <li><%= link_to "Uninstall", admin_theme_path(@site, theme.id), { :confirm => "Are you sure you wish to uninstall this theme? This will remove all theme files and can not be recovered.", :method => :delete }  %></li>
  </ul>
</li>
