<li class="theme<%= ' current' if @site.current_theme?(theme) %>">
  <h4><%= theme.name %></h4>
  <p>
    <% unless theme.version.blank? -%>v<%= theme.version %> |<% end -%>
    <%= t(:'adva.common.by_author', :author => theme.author_link) %>
  </p>
  <% if theme.preview -%>
	<%= link_to theme_image_tag(theme.id, theme.preview.localpath.to_s.gsub('images/', '')), admin_theme_path(@site, theme.id) %>
	<% end -%>
  
	<ul class="options">
    <% if @site.current_theme?(theme) %>
      <li><%= link_to t(:'adva.themes.links.unselect'), admin_site_selected_theme_path(@site, theme.id), { :confirm => t(:'adva.themes.confirm_unselect'), :method => :delete } %></li>
    <% else %>
      <li><%= link_to t(:'adva.themes.links.select'), admin_site_selected_themes_path(@site, :id => theme.id), { :confirm => t(:'adva.themes.confirm_select'), :method => :post } %></li>
    <% end %>
    <li><%= link_to t(:'adva.themes.links.edit'), admin_theme_path(@site, theme.id) %></li>
    <li><%= link_to t(:'adva.themes.links.uninstall'), admin_theme_path(@site, theme.id), { :confirm => t(:'adva.themes.confirm_uninstall'), :method => :delete }  %></li>
  </ul>
</li>
