<%= render :partial => 'admin/sites/action_nav' %>

<p>
  <%= link_to "New theme", new_admin_theme_path(@site) %> &middot;
  <%= link_to "Import theme", import_admin_themes_path(@site) %>
</p>

<% if @themes.size > 0 %>

  <ul id="themelist">
    <%= render :partial => 'theme', :collection => @themes %>
  </ul>

<% else %>  

  <div class="empty">
    You currently do not have any themes created.
    <%= link_to "Create one now &raquo;", new_admin_theme_path %>
  </div>

<% end %>