<% content_for :sidebar do -%>
  <h3>Manage</h3>
  <ul>
    <li><%= link_to 'Site', edit_admin_site_path(@site) %></li>
    <li><%= link_to 'Themes', admin_themes_path(@site) %></li>
    <li><%= link_to 'Cache', admin_cached_pages_path(@site) %></li>
  </ul>

  <h3>Actions</h3>
  <ul>
    <li><%= link_to "New theme", new_admin_theme_path(@site) %></li>
    <li><%= link_to "Import theme", import_admin_themes_path(@site) %></li>
  </ul>
<% end -%>

<h2>Themes</h2>
<% unless @themes.empty? -%>
  <ul id="themelist">
    <%= render :partial => 'theme', :collection => @themes %>
  </ul>
<% else -%>
  <div class="empty">
    You currently do not have any themes created.
    <%= link_to "Create one now. &raquo;", new_admin_theme_path %>
  </div>
<% end -%>