<% content_for :sidebar do -%>
  <h3>Manage</h3>
  <ul>
    <li><%= link_to 'Site', edit_admin_site_path(@site) %></li>
    <li><%= link_to 'Themes', admin_themes_path(@site) %></li>
    <li><%= link_to 'Cache', admin_cached_pages_path(@site) %></li>
  </ul>

  <h3>Actions</h3>
  <ul>
    <li><%= link_to "New theme", new_admin_theme_path(@site) %></li>
    <li><%= link_to "Import theme", import_admin_themes_path(@site) %></li>
  </ul>
<% end -%>

<h2>Create a new theme</h2>

<% form_for :theme, @theme, :url => admin_themes_path(@site) do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<p class="buttons">
    <%= f.submit 'Save' %> or 
    <%= link_to "cancel", admin_themes_path %>
  </p>
<% end %>