<%= render :partial => 'admin/sites/action_nav' %>

<h2 title="stored in <%= @theme.path %>">Edit theme</h2>

<% content_for :sidebar do -%>
<h3>Actions</h3>
<ul>
  <li><%= link_to "Create or upload a new file", new_admin_theme_file_path(@site, @theme.id) %></li>
  <li><%= link_to 'Download theme', export_admin_theme_path(@site, @theme.id) %></li>
</ul>
<%= render :partial => 'admin/theme_files/files' %>
<% end -%>

<% form_for :theme, @theme, :url => admin_theme_path(@site, @theme.id), :html => {:method => :put} do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<%= f.submit 'Save' %> or 
	<%= link_to 'cancel', admin_themes_path %>
<% end %>