<h2 title="stored in <%= @theme.path %>"><%= @theme.name %></h2>

<% form_for :theme, @theme, :url => admin_theme_path(@site, @theme.id), :html => {:method => :put} do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'admin/theme_files/files' %>
  <h4>Export</h4>
  <p><%= link_to 'Download as zip', export_admin_theme_path(@site, @theme.id) %></p>
<% end %>