<% content_for :sidebar do %>
  <%= render :partial => "admin/shared/sidebar_manage" %>
  <%= render :partial => "sidebar_actions" %>
<% end %>

<% if @subscriptions.present? %>
  <p class="total"><%= t(:"adva.newsletter.total_subscribers", :subscriptions_count => @subscriptions.count) %></p>

	<%
		table_for @subscriptions.issues do |t|
			t.columns :subscriber, :email, :time, :actions
			t.body do |r, issue, index|
	  		r.cell link_to(subscription.user.name, admin_user_path(subscription.user_id))
				r.cell subscription.user.email
				r.cell subscription.created_at.to_s(:db)
				r.cell delete_resource_link(subscription, admin_subscription_path(@site, @newsletter, subscription), :confirm => t(:'adva.subscription.confirm_delete'))
			end
		end
	%>
	
<% else %>
  <div class="empty">
    <%= t(:'adva.subscription.no_subscriptions') %>
    <%= link_to t(:'adva.subscription.link.new'),
      new_admin_subscription_path(@site, @newsletter) %>
  </div>
<% end %>
