<div id="<%= dom_id(message) %>" class="<%= message_type(message) %>">
	<div id="message-header">
		<h2><%= h(message.subject) %></h2>
		<p id="message-sender">
			Sent <%= time_ago_in_words message.created_at %> ago<br />
			from: <%= message.sender.name %>
		</p>
	</div>
	<div id="message-body">
		<%= h(message.body) %>
	</div>
</div>