<div id="<%= dom_id(message) %>" class="<%= message_type(message) %>">
	<div class="message-header" class="meta">
		<p class="message-sender">
			Sent <%= time_ago_in_words message.created_at %> ago<br />
			from: <%= message.sender.name %>
		</p>
	</div>
	<div class="message-body">
	  <div class="entry">
      <div class="content">
    		<h2><%= h(message.subject) %></h2>
    		<%= h(message.body) %>
  		</div>
		</div>
	</div>
</div>