<% if @recent.any? %>
  <div id="recent_assets" class="assets_row">
    <%= render :partial => 'asset', :collection => @recent, :locals => {:size => :thumb} %>
  </div>

  <% if @assets.any? %>
    <% @assets.in_groups_of(7) do |group| -%>
      <div class="assets_row">
        <%= render :partial => 'asset', :collection => group.compact, :locals => {:size => :thumb} %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <p class="empty">
    <%=t :'adva.assets.no_files' %>
		<%= new_resource_link Asset, new_admin_asset_path(@site), :text => link_to(t(:'adva.assets.upload')) %>
  </p>
<% end %>

<%= will_paginate @assets, :id => 'pagination' %>
