<div>
  <%= link_to asset_tag(asset, :style => (size || :tiny)), asset.base_url %>
  <%= "<h4>#{truncate(asset.title, :length => 20)}</h4>" if !asset.image? %>
  <ul class="asset_tools" style="display:none;">
    <li class="edit"><%= edit_resource_link asset, edit_admin_asset_path(@site, asset),
													{ :text => t(:'adva.common.edit'), :title => t(:'adva.assets.edit_asset') } %>
		</li>
    <li class="delete"><%= delete_resource_link asset, admin_asset_path(@site, asset),
													  { :text => t(:'adva.common.delete'), :title => t(:'adva.assets.delete_asset') } %>
		</li>
    <li class="bucket"><%= link_to_remote(t(:'adva.assets.add_to_bucket'), { :url => admin_assets_bucket_path(@site, :asset_id => asset.id) },
														{ :title => t(:'adva.assets.add_to_bucket') }) %>
		</li>
  </ul>
</div>

