<% if @recent.any? %>
  <div id="recent-assets" class="assets-row">
    <%= render :partial => 'asset', :collection => @recent, :locals => {:size => :thumb} %>
  </div>

  <% if @assets.any? %>
    <% @assets.in_groups_of(7) do |group| -%>
      <div class="assets-row">
        <%= render :partial => 'asset', :collection => group.compact, :locals => {:size => :thumb} %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <p class="empty">
    <%=t :'adva.assets.no_files' %>
    <%= link_to t(:'adva.assets.upload'), :action => 'new' %>
  </p>
<% end %>

<%= will_paginate @assets, :id => 'pagination' %>
