<% form_tag admin_assets_path, :id => 'assets_search_form', :method => 'get' do -%>
  <div id="spin"><img style="display:none;" src="/images/adva_cms/indicator.gif" alt="spinner" id="search_assets_spinner" /></div>
  
  <ul id="type">
    <li id="faudio"><a href="#" title="<%=t :'adva.assets.tab.audio' %>'"><%=t :'adva.assets.tab.audio' %></a></li>
    <li id="fmovies"><a href="#" title="<%=t :'adva.assets.tab.movies' %>"><%=t :'adva.assets.tab.movies' %></a></li>
    <li id="fpictures"><a href="#" title="<%=t :'adva.assets.tab.pictures' %>"><%=t :'adva.assets.tab.pictures' %></a></li>
    <li id="fothers" class="sep"><a href="#" title="<%=t :'adva.assets.tab.others' %>"><%=t :'adva.assets.tab.others' %></a></li>
  </ul>
  <ul id="attributes">
    <li id="ctags"><a href="#" title="<%=t :'adva.assets.tab.tags' %>"><%=t :'adva.assets.tab.tags' %></a></li>
    <li id="ctitle"><a href="#" title="<%=t :'adva.assets.tab.title' %>"><%=t :'adva.assets.tab.title' %></a></li>      
  </ul>

  <%= hidden_field_tag 'page', '1' %>
  <input type="text" name="query" id="assets_search_query" />    
  
  <div id="filter_options" style="display: none">
    <%= check_box_tag 'filter[audio]',  '1', false, :id => 'faudio_check' %>
    <%= check_box_tag 'filter[image]',  '1', false, :id => 'fpictures_check' %>
    <%= check_box_tag 'filter[other]',  '1', false, :id => 'fothers_check' %>
    <%= check_box_tag 'filter[movie]',  '1', false, :id => 'fmovies_check'%>
    <%= check_box_tag 'conditions[tags]',  '1', false, :id => 'ctags_check' %>
    <%= check_box_tag 'conditions[title]', '1', false, :id => 'ctitle_check' %>
    <%= check_box_tag 'conditions[date]',  '1', false, :id => 'cdate_check' %>
  </div>
<% end -%>