<% form_tag admin_assets_path, :id => 'assets-search-form', :method => 'get' do -%>
  <div id="spin"><img style="display: none;" src="/images/adva_cms/indicator.gif" alt="spinner" id="search-assets-spinner" /></div>
  
  <ul id="type">
    <li id="faudio"><a href="#" title="<%=t :'adva.assets.tab.audio' %>'"><%=t :'adva.assets.tab.audio' %></a></li>
    <li id="fmovies"><a href="#" title="<%=t :'adva.assets.tab.movies' %>"><%=t :'adva.assets.tab.movies' %></a></li>
    <li id="fpictures"><a href="#" title="<%=t :'adva.assets.tab.pictures' %>"><%=t :'adva.assets.tab.pictures' %></a></li>
    <li id="fothers" class="sep"><a href="#" title="<%=t :'adva.assets.tab.others' %>"><%=t :'adva.assets.tab.others' %></a></li>
  </ul>
  <ul id="attributes">
    <li id="ctags"><a href="#" title="<%=t :'adva.assets.tab.tags' %>"><%=t :'adva.assets.tab.tags' %></a></li>
    <li id="ctitle"><a href="#" title="<%=t :'adva.assets.tab.title' %>"><%=t :'adva.assets.tab.title' %></a></li>      
  </ul>

  <%= hidden_field_tag 'page', '1' %>
  <input type="text" name="filter[query]" id="assets-search-query" />    
  
  <div id="filter-options" style="display: none">
    <%= check_box_tag 'filters[media_types][audio]',  '1', false, :id => 'faudio-check' %>
    <%= check_box_tag 'filters[media_types][image]',  '1', false, :id => 'fpictures-check' %>
    <%= check_box_tag 'filters[media_types][other]',  '1', false, :id => 'fothers-check' %>
    <%= check_box_tag 'filters[media_types][movie]',  '1', false, :id => 'fmovies-check'%>
    <%= check_box_tag 'filters[tags_list]',  '1', false, :id => 'ctags-check' %>
    <%= check_box_tag 'filters[title]', '1', false, :id => 'ctitle-check' %>
    <%= check_box_tag 'filters[date]',  '1', false, :id => 'cdate-check' %>
  </div>
<% end -%>