<%= render :partial => "action_nav" %>

<% form_for @asset, :url => admin_asset_path, :html => { :multipart => true } do |f| %>
  <p>
    <%= link_to asset_image_for(@asset, :thumb), @asset.public_filename %>
  </p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :tag_list, 'Tags' %> <span class="hint"><%=t :'adva.asset.enter_tags' %></span>
    <%= f.text_field :tag_list %>
  </p>  
  <p>
    <label for="asset_uploaded_data">Select a file</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <p class="buttons">
    <%= submit_tag t( :'adva.asset.save' ) %>
    or <%= link_to t( :'adva.common.cancel' ), admin_assets_path %>
  </p>
<% end -%>