<%= render :partial => "action_nav" %>

<% content_for :filter do -%>
  <%= render :partial => 'filter' %>
<% end -%>

<div id="assets-list">
  <%= render :partial => "assets" %>
</div>

<% content_for :sidebar do %>
  <h3>
    <%=t :'adva.assets.your_bucket' %>
    <%= link_to_remote 'clear', :url => admin_assets_bucket_path, :method => :delete %>
  </h3>
  <p><%=t :'adva.assets.add_files' %></p>
  <ul id="bucket-assets" class="clearing asset-list">
    <%= render :partial => "admin/assets/widget/asset", :collection => bucket_assets, :locals => { :content => nil, :prefix => 'bucket' } %>
  </ul>

  <h4><%=t :'adva.assets.stats' %></h4>
  <p><%=t :'adva.assets.upload_summary', :count => @site.assets.count, 
    :size => number_to_human_size(@site.assets.sum(:size) || 0).to_s.downcase %></p>
<% end %>