<% content_for :sidebar do -%>
  <h3>Filters</h3>
	<% filter_for(Asset) %>
<% end -%>

<div>
	<% if @recent.any? %>
	  <div id="recent_assets" class="assets_row">
	    <%= render :partial => 'asset', :collection => @recent, :locals => {:size => :thumb} %>
	  </div>

	  <% if @assets.any? %>
	    <% @assets.in_groups_of(7) do |group| -%>
	      <div class="assets_row">
	        <%= render :partial => 'asset', :collection => group.compact, :locals => {:size => :thumb} %>
	      </div>
	    <% end %>
	  <% end %>

	<% else %>
	  <p class="empty">
	    <%=t :'adva.assets.no_files' %>
			<%= link_to_new :'adva.assets.upload', [@site, :asset] %>
	  </p>
	<% end %>

	<%= will_paginate @assets, :id => 'pagination' %>
</div>

<% content_for :sidebar do %>
  <h3>
    <%=t :'adva.assets.your_bucket' %>
    <%= link_to_remote t(:'adva.assets.clear_bucket'), :url => admin_assets_bucket_path, :method => :delete %>
  </h3>
  <p><%=t :'adva.assets.add_files' %></p>
  <ul>
    <%= render :partial => "admin/assets/widget/asset", :collection => bucket_assets, :locals => { :content => nil, :prefix => 'bucket' } %>
  </ul>

  <h4><%=t :'adva.assets.stats' %></h4>
  <p>
		<%=t :'adva.assets.upload_summary', :count => @site.assets.count, 
    :size => number_to_human_size(@site.assets.sum(:data_file_size) || 0).to_s.downcase %>
	</p>
<% end %>