<%= render :partial => "action_nav" %>
<h2>Upload asset</h2>
<% form_for Asset.new, :url => admin_assets_path, :html => { :multipart => true, :id => 'asset_form' } do |f| %>
  <fieldset class="clearfix">
    <p>
      <label id="file-label">Select files to upload</label>
      <label id="title-label">Title</label>
      <label id="taglist-label">Tags (space separated)</label>
    </p>
    <div id="files">
    <% @assets.each_with_index do |asset, i| %>
      <p>
        <%= file_field_tag "assets[#{i}][uploaded_data]", :id => "assets_data_#{i}", :class => 'file_field' %>
        <%= text_field_tag "assets[#{i}][title]", asset.title, :class => 'title_field' %>
        <%= text_field_tag "assets[#{i}][tag_list]", asset.tag_list, :class => 'taglist_field' %>
        <a href="#" class="remove-file" title="remove this file field" style="display: none;"><%= image_tag '/images/icons/delete.png' %></a>
        <a href="#" class="tagall-files" id="tagall-files" style="display: none">Apply tags to all</a>
      </p>
    <% end %>
    </div>
  </fieldset>
  <a href="#" id="asset-add-file" class="widetab">Add another file</a>  
  <p class="buttons">
    <%= submit_tag 'Upload Asset(s)' %> or
    <%= link_to 'Cancel', admin_assets_path %>
  </p>
<% end -%>