<tr id="<%= dom_id cached_page %>" class="<%= cycle("odd","even") %>">
  <td>
    <%= cached_page.url %>
  </td>
  <td>
    <%= cached_page_date(cached_page) %>
  </td>
  <td>
    <%= link_to_remote t(:'adva.titles.clear'), :url => admin_cached_page_path(@site, cached_page), :method => :delete %>
    <span><%= t(:'adva.cached_pages.confirmation.cleared_short') %></span>
  </td>
</tr>
