<%= render :partial => "action_nav" %>

<% content_for :filter do -%>
  <%= render :partial => 'filter' %>
<% end -%>

<% if @cached_pages.size > 0 -%>
  <p class="total">
    <%= t(:'adva.cached_pages.total_with_count', :count => @cached_pages.total_entries) %>
  </p>

  <table id="cached_pages" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th scope="col">URL</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="articles">
      <%= render :partial => 'cached_page', :collection => @cached_pages %>
    </tbody>
  </table>

  <%= will_paginate @articles, :id => 'pagination' %>

<% else %>

  <div class="empty">
    <%= params[:query].blank? ? t(:'adva.cached_pages.no_entries') : t(:'adva.cached_pages.no_entries_matching_criteria') %>
  </div>

<% end %>
