<%= render :partial => "action_nav" %>
<%= render :partial => 'filter' %>

<% if @cached_pages.size > 0 -%>
  <%= content_tag :p, t(:'adva.cached_pages.total_with_count', :count => @cached_pages.total_entries), :class => 'total' %>

	<% 
		table_for @cached_pages do |t|
		  t.columns :url, :cached_at, :actions
			t.body do |r, cached_page, index|
	  		r.cell page_cached_at(cached_page)
				r.cell link_to_remote(t(:'adva.titles.clear'), :url => admin_cached_page_path(@site, cached_page), :method => :delete) +
               "<span>#{t(:'adva.cached_pages.confirmation.cleared_short')}</span>"

			end
		end 
	%>

  <%= will_paginate @articles, :id => 'pagination' %>

<% else %>

  <div class="empty">
    <%= t(params[:query].blank? ? :'adva.cached_pages.no_entries' : :'adva.cached_pages.no_entries_matching_criteria') %>
  </div>

<% end %>
