<%= render :partial => "action_nav" %>
<%= render :partial => 'filter' %>

<% if @cached_pages.size > 0 -%>
  <p class="total">
    <%= t(:'adva.cached_pages.total_with_count', :count => @cached_pages.total_entries) %>
  </p>

  <table>
    <thead>
      <tr>
        <th>URL</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'cached_page', :collection => @cached_pages %>
    </tbody>
  </table>

  <%= will_paginate @articles, :id => 'pagination' %>

<% else %>

  <div class="empty">
    <%= t(params[:query].blank? ? :'adva.cached_pages.no_entries' : :'adva.cached_pages.no_entries_matching_criteria') %>
  </div>

<% end %>
