<h2><%= t(:'adva.titles.success') %></h2>

<p>
  <%= t(:'adva.sites.install.success_fully_created') %>
</p>

<p id='user_profile'>
  <%= t(:'adva.users.attributes.email') %>: <strong><%= @user.email %></strong><br />
</p>

<p>
  <strong><%= link_to t(:'adva.sites.links.manage_new'), admin_site_path(@site) %></strong>
</p>

