<h2><%= t(:'adva.titles.welcome') %></h2>

<p><%= t(:'adva.sites.install.welcome_to_installation') %></p>
<p><%= t(:'adva.sites.install.can_always_change_settings') %></p>

<% form_for :site, Site.new, install_path do |f| %>   
  <h3><%= t(:'adva.titles.website_configuration') %></h3>

	<% f.field_set :config do %>
    <% fields_for @site do |site| %>
     	<%= site.text_field :name, :class => 'big', :label => :'adva.sites.label.name' %>
    <% end %>

    <% fields_for @user do |user| %>
   		<%= user.text_field 'email', :class => 'big', :label => :'adva.sites.label.admin_email' %>
   		<%= user.password_field 'password', :class => 'big', :label => true %>
    <% end %>
  <% end %>
  
  <h3><%= t(:'adva.titles.website_home_section') %></h3>  

	<% f.field_set :root_section do %>
    <% fields_for :section, @section do |section| %>
      <%= section.label :type %>
      <% Section.types.each_with_index do |type, ix| %>
        <%= section.radio_button :type, type %>
        <label for="section_type_<%= type.downcase %>" class="light" style="padding-right: 5px; padding-top: 5px;">
          <%= type %>
        </label>
        <br />
      <% end %>

      <%= section.text_field :title, :class => 'big', :label => true %>
    <% end %>
  <% end %>
  
  <% f.buttons do %>
    <%= submit_tag t(:'adva.sites.links.create_site_and_account'), :id => 'create_site_and_account' %>
  <% end %>
<% end %>
