<% content_for :sidebar do -%>
  <h3><%= t(:'adva.titles.manage') %></h3>
  <ul>
    <li><%= link_to t(:'adva.titles.articles'), admin_articles_path(@site, @section), :id => 'manage_articles' %></li>
    <li><%= link_to t(:'adva.titles.categories'), admin_categories_path(@site, @section), :id => 'manage_categories' %></li>
    <li><%= link_to t(:'adva.titles.settings'), edit_admin_section_path(@site, @section), :id => 'manage_settings' %></li>
  </ul>

  <h3><%= t(:'adva.titles.actions') %></h3>
  <ul>
    <li><%= link_to t(:'adva.articles.links.create'), new_admin_article_path(@site) %></li>
    <% if @articles.size > 1 %>
      <li>
        <%= link_to_function t(:'adva.articles.links.reorder'), "articles_list.toggle(this, '#{t(:'adva.resources.reordering_done')}');", :id => 'reorder_sections' %>
        <%= image_tag '/images/adva_cms/indicator.gif', :id => 'articles_indicator', :style => 'display: none;' %>
      </li>
    <% end %>
  </ul>
<% end -%>

<% unless @articles.empty? -%>
  <p class="total">
    <%= t(:'adva.articles.total_with_count', :count => @articles.total_entries) %>
  </p>

	<% 
		table_for @articles do |t|
			t.columns :article, :comments, :published, :author, :actions
			t.body do |r, article, index|
	  		r.cell link_to(article.title, edit_admin_article_path(@site, @section, article), :class => article.state)
	  		r.cell article.accept_comments? && !article.comments.empty? ? link_to(article.comments.size, admin_comments_path) : t(:"adva.common.none")
				r.cell published_at_formatted(article)
				r.cell link_to article.author_name, admin_site_user_path(@site, article.author)
				r.cell view_resource_link(article, content_path(article)) + "\n" +
				       edit_resource_link(article, edit_admin_article_path(@site, @section, article)) + "\n" +
				  		 delete_resource_link(article, admin_article_path(@site, @section, article))
			end
		end 
	%>

  <%= will_paginate @articles, :id => 'pagination' %>

  <script type="text/javascript">
    var articles_list = new SortableList($('articles'), {
      onUpdate: function(drag, drop, event) {
        <%= remote_function(:url => admin_articles_path(@site, @section),
                            :method =>   :put,
                            :with   =>   "articles_list.serialize()",
                            :loading =>  "$('articles_indicator').show()",
                            :complete => "$('articles_indicator').hide()" ) %>
      }
    });
  </script>
  
<% else %>

  <div class="empty">
    <%= t(:'adva.articles.no_articles_in_section', :section => @section.title) %>
		<%= new_resource_link(Article, new_admin_article_path(@site, @section), :text => t(:'adva.articles.links.create_now')) %>
  </div>

<% end %>
