<h2>Profile</h2>

<fieldset class="clearfix">

  <fieldset class="col">
    <%= f.label :first_name %>
    <%= f.text_field :first_name  %>
    
    <%= f.label :homepage %>
    <%= f.text_field :homepage  %>
    
    <%= f.label :password %>
    <%= f.password_field :password  %>

    </fieldset>

    <fieldset class="col">
    <%= f.label :last_name %>
    <%= f.text_field :last_name  %>


    <%= f.label :email %>
    <%= f.text_field :email  %>


</fieldset>
</fieldset>
