<h2>Profile</h2>
<fieldset class="clearfix">
  <div class="col">
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :homepage %>
      <%= f.text_field :homepage %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
  </div>
  <div class="col">
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
  </div>
</fieldset>