<% f.field_set do %>
  <% column do %>
    <%= f.text_field :first_name, :label => true %>
    <%= f.text_field :email, :label => true %>
    <%= f.password_field :password, :label => true %>
  <% end %>

  <% column do %>
    <%= f.text_field :last_name, :tabindex => :user_first_name, :label => true %>
    <%= f.text_field :homepage, :tabindex => :user_email, :label => true %>
  <% end %>
<% end %>

<% if has_permission?('manage', 'roles') %>
	<h4><%= t(:'adva.titles.roles') %></h4>
	<p class="hint text_only"><%= t(:'adva.hints.roles') %></p>
		
	<% f.field_set do %>
	  <% if current_user.has_role?(:superuser) %>
			<p>
			  <%= hidden_field_tag "user[roles_attributes][0][selected]", 0 %>
			  <%= check_box_tag "user[roles_attributes][0][selected]", 1, @user.has_explicit_role?(:superuser), :id => "user_roles_superuser" %>
			  <%= hidden_field_tag "user[roles_attributes][0][name]", 'superuser' %>
			  <%= f.label "roles_superuser", t(:'adva.roles.labels.superuser'), :class => 'light inline' %>
			</p>
		<% end %>
	
	  <% if @site %>
			<p>
		    <%= hidden_field_tag "user[roles_attributes][1][selected]", 0 %>
		    <%= check_box_tag "user[roles_attributes][1][selected]", 1, @user.has_explicit_role?(:admin, @site), :id => "user_roles_admin_site_#{@site.id}" %>
		    <%= hidden_field_tag "user[roles_attributes][1][name]", 'admin' %>
		    <%= hidden_field_tag "user[roles_attributes][1][context_id]", @site.id %>
		    <%= hidden_field_tag "user[roles_attributes][1][context_type]", 'Site' %>
		    <%= label_tag "user_roles_admin_site_#{@site.id}", t(:'adva.roles.labels.admin_for', :context => @site.name), :class => 'light inline' %>
			</p>
	  <% end %>
	<% end %>
<% end %>

<% save_or_cancel_links(f, :cancel_url => admin_users_path(@site)) %>
