<h4><%= t(:'adva.titles.roles') %></h4>

<% f.field_set do %>
  <% if current_user.has_role?(:superuser) %>
	  <%= hidden_field_tag "user[roles][0][selected]", 0 %>
	  <%= check_box_tag "user[roles][0][selected]", 1, @user.has_role?(:superuser, :inherit => false), :id => "user_roles_superuser" %>
	  <%= hidden_field_tag "user[roles][0][type]", 'Rbac::Role::Superuser' %>
	  <%= f.label "roles_superuser", t(:'adva.roles.labels.superuser'), :class => 'light' %>
	<% end %>
	
  <% if @site %>
    <%= hidden_field_tag "user[roles][1][selected]", 0 %>
    <%= check_box_tag "user[roles][1][selected]", 1, @user.has_role?(:admin, :context => @site, :inherit => false), :id => "user_roles_admin_site_#{@site.id}" %>
    <%= hidden_field_tag "user[roles][1][type]", 'Rbac::Role::Admin' %>
    <%= hidden_field_tag "user[roles][1][context_id]", @site.id %>
    <%= hidden_field_tag "user[roles][1][context_type]", @site.class.name %>
    <%= f.label "user_roles_admin_site_#{@site.id}", t(:'adva.roles.labels.admin_for', :context => @site.name), :class => 'light' %>
  <% end %>
<% end %>