<ul id="users">
	<li>
	  <%= gravatar_img(user) %>
	  <p><%= link_to user.name, member_path(user) %></p>
	  <p><%= user.email %></p>
	  <p class="actions">
	    <%= link_to t(:'adva.links.edit'), edit_member_path(user), :class => 'edit' %>
	    <%= link_to t(:'adva.links.delete'), member_path(user), :class => 'delete', :confirm => t(:'adva.users.confirm_delete'), :method => :delete %>
	  </p>
	</li> 
</ul>	