<% content_for :sidebar do %>
  <div class="user">
    <%= gravatar_img(@user) %>
    <h3><%= @user.name %></h3>
    <p><%= @user.email %></p>
  </div>

  <h3><%= t(:'adva.titles.actions') %></h3>
  <ul>
    <li><%= link_to t(:'adva.users.actions.create_new'), new_member_path %></li>
    <li><%= link_to t(:'adva.users.actions.delete_user'), admin_user_path(@user), :method => :delete, :confirm => t(:'adva.users.confirm_delete') %></li>
  </ul>
<% end -%>

<h2><%= t(:'adva.users.titles.edit') %></h2>

<% form_for :user, @user, :url => member_path, :html => {:method => :put} do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>  
  <%= render :partial => 'roles', :locals => {:f => f} if has_permission?('manage', 'roles') %>
  <%= render :partial => 'memberships', :locals => {:f => f} %>

  <p class="buttons">
    <%= submit_tag t(:'adva.common.save') %> or 
    <%= link_to_cancel(@site) %>
  </p>
<% end -%>