<% content_for :sidebar do -%>
  <h3><%= t(:'adva.titles.actions') %></h3>
  <ul>
    <li><%= link_to t(:'adva.users.actions.create_new'), new_member_path %></li>
  </ul>
<% end -%>

<h2><%= t(:'adva.titles.users') %></h2>
<ul id="users">
  <%= render :partial => 'user', :collection => @users %>
</ul>

<%= will_paginate @users, :id => 'pagination' %>