<h2><%= t(:'adva.users.titles.new') %></h2>
<% form_for :user, @user, :url => collection_path do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>  
  <%= render :partial => 'roles', :locals => {:f => f} if @site && current_user.has_role?(:admin, :context => @site) %>
  <%= render :partial => 'memberships', :locals => {:f => f} if @site %>

  <p class="buttons">
    <%= submit_tag t(:'adva.common.save') %> or 
    <%= link_to(t(:'adva.common.cancel'), site.nil? ? admin_users_path : admin_site_users_path(site)) %>
  </p>
<% end -%>
