<%= render :partial => 'action_nav' %>

<% form_for :user, @user, :url => collection_path do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>  
  <%= render :partial => 'roles', :locals => {:f => f} if @site && current_user.has_role?(:admin, :context => @site) %>
  <%= render :partial => 'memberships', :locals => {:f => f} if @site %>

  <p class="buttons">
    <%= submit_tag 'Create' %>
    <%= link_to "cancel", admin_users_path %>
  </p>
<% end -%>
