<h2>
  <%= @section.title %>
  <span class="meta">
    <%= t(:'adva.boards.topics_count', :count => @section.topics_count) %>,
    <%= t(:'adva.boards.posts_count', :count => @section.posts_count) %>
  </span>
</h2>

<table id="boards" class="list">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @boards.each do |board| %>
    <tr>
      <td>
        <h3><%= link_to board.title, forum_board_path(@section, board) %></h3>
        <p><%= board.description %></p>
      </td>
      <td>
        <%= t(:'adva.boards.topics_count', :count => board.topics_count) %>,
        <%= t(:'adva.boards.posts_count', :count => board.posts_count) %>
        <%= datetime_with_microformat(board.last_updated_at) %>
        <%= t(:'adva.common.by_author', :author => board.last_author_name) if board.last_author_name %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
