<h2>
  <%= @section.title %>
  <span class="meta">
    <%= pluralize_str @section.topics_count, '%s topic' %>,
    <%= pluralize_str @section.comments_count, '%s post' %> &middot;
    <%= link_to t(:'adva.topics.links.new_topic'), @board ? new_board_topic_path(@section, @board) : new_topic_path(@section) %>
  </span>
</h2>

<table class="list">
  <thead>
    <tr>
      <th><%= t(:'adva.titles.topic') %></th>
      <th width="1%"><%= t(:'adva.titles.posts') %></th>
      <th width="30%"><%= t(:'adva.topics.titles.latest_post') %></th>
    </tr>  
  </thead>
  <tbody>
  <%= render :partial => 'topic', :collection => @topics %>
  </tbody>
</table>

<%= will_paginate @topics, :id => 'pagination' %>