<h2>
  <%= @section.title %>
	<% if @board -%>
		 &middot; <%= @board.title %>
	<% end -%>
  <span class="meta">
    <%= t(:'adva.boards.topics_count', :count => @board ? @board.topics_count : @section.topics_count) %>,
    <%= t(:'adva.boards.posts_count', :count => @board ? @board.posts_count : @section.posts_count) %> &middot;
		<% authorized_tag :span, :create, @topic do %>
    	<%= link_to t(:'adva.topics.links.new_topic'), @board ? new_board_topic_path(@section, @board) : new_topic_path(@section) %>
		<% end %>
  </span>
</h2>

<table id="topics" class="list">
  <thead>
    <tr>
      <th><%= t(:'adva.titles.topic') %></th>
      <th><%= t(:'adva.titles.posts') %></th>
      <th><%= t(:'adva.topics.titles.latest_post') %></th>
    </tr>  
  </thead>
  <tbody>
  <%= render :partial => 'topic', :collection => @topics %>
  </tbody>
</table>

<%= will_paginate @topics, :id => 'pagination' %>