<% content_for :sidebar do -%>
  <h3>Manage</h3>
  <ul>
    <li><%= link_to t(:'adva.boards.links.boards'), admin_boards_path(@site, @section), :id => 'manage_boards' %></li>
		<li><%= link_to t(:'adva.boards.links.forum'), forum_path(@section), :id => 'manage_forum' %></li>
    <li><%= link_to t(:'adva.boards.links.settings'), edit_admin_section_path(@site, @section), :id => 'manage_settings' %></li>
  </ul>

  <h3><%= t(:'adva.common.titles.actions') %></h3>
  <ul>
		<li><%= link_to_new [@section, :board] %></li>
  </ul>
<% end -%>