<% content_for :sidebar do -%>
  <h3><%= "Manage" %></h3>
  <ul>
    <li><%= link_to 'Boards', admin_boards_path(@site, @section) %></li>
		<li><%= link_to 'Forum', forum_path(@section) %></li>
    <li><%= link_to 'Settings', edit_admin_section_path(@site, @section), :id => 'settings_section' %></li>
  </ul>

  <h3><%= 'Actions' %></h3>
  <ul>
    <li><%= link_to 'Create a new Board', new_admin_board_path(@site, @section) %></li>
    <li><%= link_to 'Create a new Topic', new_topic_path(@section) %></li>
  </ul>
<% end -%>