<% content_for :sidebar do -%>
  <h3>Manage</h3>
  <ul>
    <li><%= link_to t(:'adva.boards.links.boards'), admin_boards_path(@site, @section), :id => 'manage_boards' %></li>
		<li><%= link_to t(:'adva.boards.links.forum'), forum_path(@section), :id => 'manage_forum' %></li>
    <li><%= link_to t(:'adva.boards.links.settings'), edit_admin_section_path(@site, @section), :id => 'manage_settings' %></li>
  </ul>

  <h3><%= t(:'adva.common.titles.actions') %></h3>
  <ul>
    <li><%= new_resource_link Board, new_admin_board_path(@site, @section), :text => t(:'adva.boards.links.create') %></li>
    <li><%= new_resource_link Topic, new_topic_path(@section), :text => t(:'adva.topics.links.create') %></li>
  </ul>
<% end -%>