<% unless @section.topics.empty? -%>
<div id="topics" class="list">
	<h2>
		Recent topics
	</h2>
	
	<table id="topics-latest" class="list">
    <thead>
      <tr>
        <th scope="col"><%= 'Last update on' %></th>
        <th scope="col"><%= 'Author' %></th>
        <th scope="col"><%= 'Title' %></th>
        <th scope="col"><%= 'Comments' %></th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody id="topics-latest-body">
		<% @section.latest_topics.each do |topic| -%>
			<tr>
				<td><%= topic.created_at.to_formatted_s(:short) %></td>
				<td><%= topic.last_author_name %></td>
				<td><%= link_to_topic(topic) %></td>
				<td><%= topic.comments.size %></td>
				<td class="actions">
    				<%= link_to t(:'adva.resources.edit'), edit_topic_path(@section, topic.permalink), :class => 'edit' %>
    				<%= link_to_topic(t(:'adva.resources.delete'), topic, :class => 'delete', :confirm => "Are you sure you want to delete this photo?", :method => :delete) %>
  			</td>
			</tr>
		<% end -%>
    </tbody>
  </table>
</div>
<% else -%>
<h2>
	Topics
</h2>
	
<div class="empty">
	<p>
		You do not have any topics on your forum.<br /> You can create a topic from <%= link_to 'here', new_topic_path(@section) %>,
		or from the 'Create a new Topic' link from right-hand menu.
	</p>
</div>
<% end -%>