<h3><%= t(:'adva.boards.titles.edit') %></h3>

<% form_for :board, @board, :url => admin_board_path, :html => {:method => :put} do |f| %>

    <%= render :partial => 'form', :locals => {:f => f} %>

  <p class="buttons">
  	<%= submit_tag t(:'adva.common.save') %>	<%= t(:'adva.common.connector.or') %>
		<%= link_to t(:'adva.common.cancel'), admin_boards_path(@site, @board.section) %>
  </p>
<% end %>