<h2><%= @section.title %></h2>

<%= render :partial => 'side_panel' %>

<p class="total">
	<%= "This forum has total of #{@section.boards.size} boards, #{@section.topics.size} topics and #{@section.posts.size} posts." %><br />
</p>

<%= render :partial => 'topics' %>
<%= render :partial => 'boards' %>
