<fieldset class="clearfix">
  <%= f.label :title, t('adva.issues.labels.title') %>
  <%= f.text_field :title, :class => 'big'  %>
  <%= f.label :body, t('adva.issues.labels.body') %>
  <%= f.text_area :body, :class => 'fat', :rows => 25  %>

  <%= f.label :draft, t('adva.issues.question_save_as_draft') %>
  <label class="light">
    <%= check_box_tag :draft, '1', @issue.draft?, :id => 'issue-draft' %><%= t('adva.issues.confirm_save_as_draft') %>
  </label>

  <div id="delivery" style="<%= @issue.draft? ? "display:none" : "" %>">
    <%= f.label :due_at, t('adva.issues.labels.due_at') %>
    <%= f.datetime_select :due_at,
                          :start_year => (@issue.due_at || Time.zone.now).year-1,
                          :end_year => (Time.zone.now.year + 5),
                          :order => [:month, :day, :year] %>
  </div>
</fieldset>
