<fieldset class="clearfix">
  <%= f.label :title, t('adva.issue.label.title') %>
  <%= f.text_field :title, :class => 'big'  %>
  <%= f.label :body, t('adva.issue.label.body') %>
  <%= f.text_area :body, :class => 'fat', :rows => 25  %>

  <%= f.label :draft, t('adva.issue.question_save_as_draft') %>
  <label class="light">
    <%= check_box_tag :draft, '1', @issue.draft?, :id => 'issue-draft' %><%= t('adva.issue.confirm_save_as_draft') %>
  </label>

  <div id="delivery" style="<%= @issue.draft? ? "display:none" : "" %>">
    <p>
      <%= submit_tag t('adva.issue.button.deliver_now'), :name => 'deliver_now' %>
    </p>
    <p>
      <%= f.label :due_at, t('adva.issue.label.due_at') %>
      <%= f.datetime_select :due_at,
                            :start_year => (@issue.due_at || Time.zone.now).year-1,
                            :end_year => (Time.zone.now.year + 5),
                            :order => [:month, :day, :year] %>
      <%= submit_tag t('adva.issue.button.deliver_later'), :name => 'deliver_later' %>
    </p>
    <label>
      <%= check_box_tag :test_delivery %><%= t('adva.issue.label.test_delivery') %>
    </label>
  </div>
</fieldset>
