<% if issues.present? %>
  <table class="list" cellspacing='0'>
    <thead>
      <tr>
        <th scope="col"><%= t('adva.issue.label.name') %></th>
        <th scope="col"><%= t('adva.issue.label.created_at') %></th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% issues.each do |issue| %>
        <tr>
          <td><%= link_to h(issue.title), admin_issue_path(@site, @newsletter, issue), :class => issue.state %></td>
          <td><%= issue.created_at.to_s(:db) %></td>
          <td class='table_menu'>
            <ul>
              <li><%= link_to t('adva.common.delete'), admin_issue_path(@site, @newsletter, issue), :method => :delete, :class => :delete %></li>
              <li><%= link_to t('adva.common.edit'), edit_admin_issue_path(@site, @newsletter, issue), :class => :edit %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="empty">
    <%= t('adva.issue.no_issues') %>
    <%= link_to t('adva.issue.link.new'), new_admin_issue_path(@site, @newsletter) %>
  </div>
<% end %>
