<h3><%= t(:"adva.titles.actions") %></h3>
<ul>
  <% if @issue.present? && @issue.editable?  %>
    <li><%= link_to t(:"adva.newsletter.link.edit_issue"), edit_admin_issue_path(@site, @newsletter, @issue) %></li>
    <li><%= link_to t(:"adva.newsletter.link.send_preview_issue"), admin_delivery_path(@site, @newsletter, @issue),
      :method => :post, :confirm => t(:"adva.newsletter.confirm.send_preview_issue") %></li>
  <% end %>
  <%= render :partial => 'admin/shared/sidebar_common' %>
  <% if @issue.present? && !@issue.new_record? %>
    <li><%= link_to t(:"adva.newsletter.link.delete_issue"), admin_issue_path(@site, @newsletter, @issue),
      :method => :delete %></li>
  <% end %>
</ul>
