<% content_for :action_nav do %>
	<%= Menu.instance(:'admin.newsletters.manage').render(self) %>
	<%= Menu.instance(:'admin.issues.actions').render(self) %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => "optional_settings" %>
<% end %>

<h2><%= t(:'adva.newsletter.title.edit_issue') %></h2>

<% split_form_for :issue, @issue, :url => admin_issue_path, :html => { :method => :put, :multipart => true } do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>  

  <% save_or_cancel_links(f, :cancel_url => admin_issue_path(@site, @newsletter, @issue)) %>
<% end %>
