<% content_for :sidebar do %>
  <%= render :partial => "admin/shared/sidebar_manage" %>
  <%= render :partial => "sidebar_actions" %>
  <%= render :partial => "optional_settings" %>
<% end %>

<h2><%= t(:'adva.newsletter.title.edit_issue') %></h2>

<% split_form_for :issue, @issue, :url => admin_issue_path, :html => {:method => :put, :multipart => true, :id => "content_form"} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>  

  <% f.buttons do %>
    <%= submit_tag t(:'adva.common.save') %> <%= t(:'adva.common.connector.or') %>
    <%= link_to t(:'adva.common.cancel'), admin_issue_path(@site, @newsletter, @issue) %>
  <% end %>
<% end %>
