<% content_for :sidebar do %>
  <%= render :partial => 'admin/layouts/sidebar_manage' %>
  <%= render :partial => 'sidebar_actions' %>
<% end %>

<%= render :partial => 'admin/newsletters/header' %>

<div id='issues'>
  <% unless @newsletter.issues_count == 0 %>
    <p class="total"><%= t('adva.newsletter.total_issues', :issues_count => @newsletter.issues_count) %></p>
  <% end %>
  <%= render :partial => 'issues', :object => @issues %>
</div>
