<% content_for :sidebar do %>
  <%= render :partial => 'admin/layouts/sidebar_manage' %>
  <%= render :partial => 'sidebar_actions' %>
<% end %>

<%= render :partial => 'admin/newsletters/header' %>

<div id='issues'>
  <p class="total">
    <%= t('adva.newsletter.total_issues', :issues_count => @newsletter.issues_count) %>
  </p>
  <%= render :partial => 'issues', :object => @issues %>
</div>
