<% content_for :sidebar do %>
  <%= render :partial => 'admin/layouts/sidebar_manage', :locals => {:active => :issues} %>
  <%= render :partial => 'sidebar_actions' %>
<% end %>

<%= render :partial => 'admin/newsletters/header' %>

<h2><%= h(@issue.title) %></h2>
<p><%= h(@issue.body) %></p>
