<div id="issue">
  <h2>
    <%= h(@issue.title) %>
  </h2>
  <p class="state">
    <%= t(:"adva.state.#{@issue.state}") %>
  </p>

  <p><%= @issue.body_html %></p>
  <% if @issue.body_plain? %>
    <h4><%= t(:"adva_newsletter.issue.label.body_plain") %></h4>
    <p><%= @issue.body_plain %></p>
  <% end %>

  <% if @issue.published? %>
    <% split_form_for :issue, @issue, :url => admin_adva_delivery_path(@site, @newsletter, @issue),
                      :html => {:method => :post, :multipart => true, :id => "content_form"} do |f| %>
      <% f.buttons do %>
        <span id="send_now">
          <%= submit_tag t(:"adva.newsletter.button.send_now"), :name => "send_all" %>
        </span>
        <span id="send_later">
          <%= t(:"adva.common.connector.or") %>
          <%= link_to t(:"adva.newsletter.button.send_later") %>
        </span>
        <span id="send_later_expanded" style="display:none;">
          <%= t(:"adva.common.connector.or") %>
          <%= f.datetime_select :deliver_at, :default => Time.zone.now, :prefix => "deliver_at", :discard_year => true %>
          <%= submit_tag t(:"adva.newsletter.button.send_later"), :name => "send_all_later" %>
        </span>
      <% end %>
    <% end %>
  <% end %>
  
  <% if @issue.queued? %>
    <% buttons do %>
      <% split_form_for :issue, @issue, :url => admin_adva_delivery_path(@site, @newsletter, @issue),
                        :html => {:method => :delete} do |f| %>
        <%= submit_tag t(:"adva.newsletter.button.cancel_delivery") %>
        <span id="delivery_time">
          <%= t(:"adva.newsletter.label.issue_deliver_at_long", :delivery_time => l(@issue.deliver_at, :format => :long)) %>
        </span>
      <% end %>
    <% end %>
  <% end %>

  <% if @issue.delivered? %>
    <% buttons do %>
      <%= t(:"adva.newsletter.delivered_at", :delivered_time => l(@issue.delivered_at, :format => :long)) %>
    <% end %>
  <% end %>
</div>
