<% content_for :sidebar do %>
  <%= render :partial => 'admin/layouts/sidebar_manage' %>
  <%= render :partial => 'sidebar_actions' %>
<% end %>

<h2><%= t('adva.newsletter.label.header') %></h2>

<div id='newsletters'>
  <% unless @newsletters.empty? %>
    <table class="list" cellspacing='0'>
      <thead>
        <tr>
          <th scope="col"><%= t('adva.newsletter.label.name') %></th>
          <th scope="col"><%= t('adva.newsletter.label.issues') %></th>
          <th scope="col"><%= t('adva.newsletter.label.subscribers') %></th>
          <th scope="col"><%= link_to t('adva.common.add_new'), new_admin_newsletter_path(@site), :class => 'table_menu_th' %></th>
        </tr>
      </thead>
      <tbody>
        <% @newsletters.each do |newsletter| %>
          <tr>
            <td><%= link_to h(newsletter.title), admin_newsletter_path(@site, newsletter) %></td>
            <td><%= link_to newsletter.issues_count, admin_issues_path(@site, newsletter) %></td>
            <td><%= link_to newsletter.subscriptions_count, admin_subscriptions_path(@site, newsletter) %></td>
            <td class='table_menu'><%= link_to t('adva.common.edit'), edit_admin_newsletter_path(@site, newsletter) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="empty">
      <%= t('adva.newsletter.no_newsletters') %>
      <%= link_to t('adva.newsletter.link.new'), new_admin_newsletter_path(@site) %>
    </div>
  <% end %>
</div>
