<% content_for :sidebar do %>
  <%= render :partial => "admin/shared/sidebar_manage" %>
  <%= render :partial => "sidebar_actions" %>
<% end %>

<% unless @newsletters.empty? %>
  <p class="total">
    <%= t(:'adva.newsletter.total_newsletters', :newsletters_count => @site.newsletters.size) %>
  </p>

	<%
		table_for @newsletters do |t|
			t.columns :name, :issues, :subscribers, :actions
			t.body do |r, newsletter, index|
	  		r.cell link_to(newsletter.title, admin_issues_path(@site, newsletter), :class => newsletter.state)
				r.cell link_to(newsletter.issues_count, admin_issues_path(@site, newsletter))
				r.cell link_to(newsletter.subscriptions_count, admin_subscriptions_path(@site, newsletter))
				r.cell edit_resource_link(newsletter, edit_admin_newsletter_path(@site, newsletter)) + "\n" +
				       delete_resource_link(newsletter, admin_newsletter_path(@site, newsletter))
			end
		end
	%>
	
<% else %>
  <div class="empty">
    <%= t(:'adva.newsletter.no_newsletters') %>
    <%= link_to t(:'adva.newsletter.link.new'), new_admin_newsletter_path(@site) %>
  </div>
<% end %>
