<% content_for :sidebar do %>
  <%= render :partial => 'admin/issues/sidebar', :locals => {:newsletter => @newsletter} %>
<% end %>

<h2><%= h(@newsletter.title) %></h2>
<p><%= h(@newsletter.desc) %></p>

<% if @newsletter.issues.blank? %>
  <div class="empty">
    <%= t('adva.issues.no_issues') %>
    <%= link_to t('adva.issues.new'), new_admin_issue_path(@site, @newsletter) %>
  </div>
<% end %>
