<% content_for :sidebar do %>
  <%= render :partial => 'admin/layouts/sidebar_manage', :locals => {:active => :newsletters} %>
  <h3><%= t('adva.titles.actions') %></h3>
  <ul>
    <li><%= link_to t('adva.issues.links.new'), new_admin_issue_path(@site, @newsletter) %></li>
    <li><%= link_to t('adva.subscriptions.links.new'), new_admin_subscription_path(@site, @newsletter) %></li>
  </ul>
<% end %>

<h2><%= h(@newsletter.title) %></h2>
<p><%= h(@newsletter.desc) %></p>
<ul>
  <li>Subscribers: <%= @newsletter.subscriptions_count %></li>
</ul>

<% if @newsletter.issues.present? %>
  <table id="issues" class="list" cellspacing='0'>
    <thead>
      <tr>
        <th scope="col">Issues</th>
      </tr>
    </thead>
    <tbody>
      <% @newsletter.issues.each do |issue| %>
        <tr>
          <td><%= link_to h(issue.title), admin_issue_path(@site, @newsletter, issue) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="empty">
    <%= t('adva.issues.no_issues') %>
    <%= link_to t('adva.issues.links.new'), new_admin_issue_path(@site, @newsletter) %>
  </div>
<% end %>
