<% if article %>
  <div id="<%= dom_id article %>">
  	<div>
  	  <p>
  	    <%= datetime_with_microformat(article.published_at, :format => :long) %><br />
  	    <%=t :'adva.blog.attribution', :author => article.author_name %>
    	  <%= link_to_content_comments article if (article.accept_comments? || !article.comments.empty?) && mode != :single # FIXME ugly, to helper? %>
    	  <% authorized_tag :span, :update, article do -%>
      		<%= edit_resource_path article, edit_admin_article_path(@site, @section, article), :text => t( :'adva.common.edit' ) %>
		    <% end -%>
  	  </p>
  	  <p>
      	<%= links_to_content_categories article, :'adva.common.content_categories' %>
      	<%= links_to_content_tags article, :'adva.common.content_tags' %>
      </p>
  	</div>
  	<div>
    	<h2>
    	  <%= link_to_content article %>
    	</h2> 
  	  <% if article.has_excerpt? %>
  	    <%= article.excerpt_html %>
  	    <p><%= link_to_content t( :'adva.blog.links.more' ), article unless mode == :single %></p>
  	  <% end %>
      <%= article.body_html if mode == :single || !article.has_excerpt? %>
    </div>
  </div>
<% end %>