<% content_for :footer do %>
  <div id="footer" class="clearing">
    <% if !@section.categories.blank? %>
      <div>
        <h4><%=t :'adva.titles.categories' %></h4>
        <ul id="categories-list">
        <% @section.categories.each do |category| %>
          <li><%= link_to_category @section, category %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if !@section.article_counts_by_month.blank? %>
      <div>
        <h4><%=t :'adva.titles.archives' %></h4>
        <ul id="archives">
        <% @section.archive_months.each do |month| %>
          <li><%= link_to l( month, :format => '%B %Y' ), blog_path(@section, :year => month.year, :month => month.month) %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <% if false and @section and !@section.tag_counts.empty? %>
      <h4><%=t :'adva.titles.tags' %></h4>
      <ul id="tags-list">
      <% @section.tag_counts.each do |tag| %>
        <li><%= link_to_tag @section, tag %></li>
      <% end %>
      </ul>
    <% end %>  
  </div>

  <%= render :partial => 'shared/footer' %>
  
  <ul id="feeds">
    <li><%= link_to t( :'adva.links.entries_feed' ),  blog_feed_url(@section, :format => :atom) %></li>
    <li><%= link_to t( :'adva.links.comments_feed' ), blog_comments_url(@section, :format => :atom) %></li>
  </ul>
<% end %>