<% content_for :footer do %>
  <div id="footer" class="clearing">
    <% if @section.sets.present? %>
      <div>
        <h4><%= t(:'adva.photos.common.sets') %></h4>
        <ul>
        <% @section.sets.each do |set| %>
          <li><%= link_to_set @section, set %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if false and @section and @section.tag_counts.present? %>
      <h4><%=t :'adva.titles.tags' %></h4>
      <ul>
      <% @section.tag_counts.each do |tag| %>
        <li><%= link_to_tag @section, tag %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <%= render :partial => 'shared/footer' %>
  
  <ul id="feeds">
	<% if false -%>
    <li><%= link_to t( :'adva.links.entries_feed' ),  album_url(@section, :format => :atom) %></li>
    <li><%= link_to t( :'adva.links.comments_feed' ), album_comments_url(@section, :format => :atom) %></li>
  <% end %>
  </ul>
<% end %>